Repository graphql/graphql-js: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 0 --fix, prettier --write

Apply Benjie's suggestions from code review
  website/pages/docs/going-to-production.mdx
Due: none

Apply suggestions from code review
  website/pages/docs/caching-strategies.mdx
Due: none

Apply suggestions from code review
  website/pages/docs/scaling-graphql.mdx
Due: none

Add unbatched word
  cspell.yml
Due: none

Missing word
  cspell.yml
Due: none

Apply suggestions from code review
  website/pages/docs/type-generation.mdx
Due: none

Apply suggestions from code review
  website/pages/docs/operation-complexity-controls.mdx
Due: none

Add missing import
  website/pages/docs/operation-complexity-controls.mdx
Due: none

Apply suggestions from code review
  website/pages/docs/testing-approaches.mdx
  website/pages/docs/testing-best-practices.mdx
  website/pages/docs/testing-graphql-servers.mdx
Due: none

Fix various formatting issues
  website/pages/docs/testing-approaches.mdx
  website/pages/docs/testing-best-practices.mdx
Due: none

cleanup with fixes
  website/pages/docs/_meta.ts
  website/pages/docs/abstract-types.mdx
  website/pages/docs/authentication-and-express-middleware.mdx
  website/pages/docs/authorization-strategies.mdx
  website/pages/docs/basic-types.mdx
  website/pages/docs/caching-strategies.mdx
  website/pages/docs/constructing-types.mdx
  website/pages/docs/cursor-based-pagination.mdx
  website/pages/docs/defer-stream.mdx
  website/pages/docs/going-to-production.mdx
  website/pages/docs/graphql-clients.mdx
  website/pages/docs/mutations-and-input-types.mdx
  website/pages/docs/n1-dataloader.mdx
  website/pages/docs/nullability.mdx
  website/pages/docs/object-types.mdx
  website/pages/docs/oneof-input-objects.mdx
  website/pages/docs/passing-arguments.mdx
  website/pages/docs/running-an-express-graphql-server.mdx
  website/pages/docs/using-directives.mdx
Due: eslint --max-warnings 0 --fix, prettier --write

fix prettier check
  website/pages/docs/_meta.ts
Due: eslint --max-warnings 0 --fix, prettier --write

Update website/pages/docs/authorization-strategies.mdx
  website/pages/docs/authorization-strategies.mdx
Due: none

Fix build errors
  website/pages/docs/authorization-strategies.mdx
Due: none

docs: add guide on subscriptions (#4406)
  cspell.yml
  website/pages/docs/_meta.ts
  website/pages/docs/subscriptions.mdx
Due: eslint --max-warnings 0 --fix, prettier --write

docs: add guide on directives (#4401)
  cspell.yml
  website/pages/docs/_meta.ts
  website/pages/docs/using-directives.mdx
Due: eslint --max-warnings 0 --fix, prettier --write

docs: add guide on nullability (#4405)
  website/pages/docs/_meta.ts
  website/pages/docs/nullability.mdx
Due: eslint --max-warnings 0 --fix, prettier --write

docs: trusted documents (#4418)
  cspell.yml
  website/pages/docs/going-to-production.mdx
Due: none

docs: add page on authorization strategies (#4396)
  website/pages/docs/_meta.ts
  website/pages/docs/authentication-and-express-middleware.mdx
  website/pages/docs/authorization-strategies.mdx
  website/pages/docs/index.mdx
Due: eslint --max-warnings 0 --fix, prettier --write

docs: guide on scaling your API (#4414)
  cspell.yml
  website/pages/docs/_meta.ts
  website/pages/docs/scaling-graphql.mdx
Due: eslint --max-warnings 0 --fix, prettier --write

docs: add guide on caching strategies (#4411)
  cspell.yml
  website/pages/docs/_meta.ts
  website/pages/docs/caching-strategies.mdx
Due: eslint --max-warnings 0 --fix, prettier --write

docs: update "going to production" guide (#4398)
  cspell.yml
  website/pages/docs/going-to-production.mdx
Due: none

docs: type generation for graphql servers (#4376)
  cspell.yml
  website/pages/docs/_meta.ts
  website/pages/docs/type-generation.mdx
Due: eslint --max-warnings 0 --fix, prettier --write

docs: add guide for operation complexity controls (#4402)
  cspell.yml
  website/pages/docs/_meta.ts
  website/pages/docs/operation-complexity-controls.mdx
Due: eslint --max-warnings 0 --fix, prettier --write

Indicate that field arguments should always be preferred over directives (#4417)
  website/pages/docs/using-directives.mdx
Due: none

Editorial for #4405 (nullability) (#4416)
  website/pages/docs/nullability.mdx
Due: none

docs: editorial on abstract types page (#4394)
  website/pages/docs/abstract-types.mdx
Due: none

docs: cleanup and fixes (#4419)
  website/pages/docs/_meta.ts
  website/pages/docs/abstract-types.mdx
  website/pages/docs/authentication-and-express-middleware.mdx
  website/pages/docs/authorization-strategies.mdx
  website/pages/docs/basic-types.mdx
  website/pages/docs/caching-strategies.mdx
  website/pages/docs/constructing-types.mdx
  website/pages/docs/cursor-based-pagination.mdx
  website/pages/docs/defer-stream.mdx
  website/pages/docs/going-to-production.mdx
  website/pages/docs/graphql-clients.mdx
  website/pages/docs/mutations-and-input-types.mdx
  website/pages/docs/n1-dataloader.mdx
  website/pages/docs/nullability.mdx
  website/pages/docs/object-types.mdx
  website/pages/docs/oneof-input-objects.mdx
  website/pages/docs/passing-arguments.mdx
  website/pages/docs/running-an-express-graphql-server.mdx
  website/pages/docs/using-directives.mdx
Due: eslint --max-warnings 0 --fix, prettier --write

Update package.json
  package.json
Due: prettier --write

fix(benchmark): fix my incorrect merge of original commit from v16
  benchmark/fixtures.js
Due: eslint --max-warnings 0 --fix, prettier --write

move validation of names into validateSchema
  src/index.ts
  src/language/__tests__/schema-parser-test.ts
  src/type/__tests__/assertHasValidName-test.ts
  src/type/__tests__/definition-test.ts
  src/type/__tests__/directive-test.ts
  src/type/__tests__/validation-test.ts
  src/type/assertHasValidName.ts
  src/type/definition.ts
  src/type/directives.ts
  src/type/index.ts
  src/type/validate.ts
Due: eslint --max-warnings 0 --fix, prettier --write

f
  src/type/__tests__/validation-test.ts
Due: eslint --max-warnings 0 --fix, prettier --write

website fix
  website/pages/upgrade-guides/v16-v17.mdx
Due: none

test: actually test use of AbortSignal in resolver
  src/execution/__tests__/cancellation-test.ts
Due: eslint --max-warnings 0 --fix, prettier --write

feat: pass abortSignal to resolvers via GraphQLResolveInfo
  src/execution/__tests__/cancellation-test.ts
  src/execution/__tests__/executor-test.ts
  src/execution/execute.ts
  src/type/definition.ts
  website/pages/upgrade-guides/v16-v17.mdx
Due: eslint --max-warnings 0 --fix, prettier --write

Use no-op for production instanceOf
  src/index.ts
  src/jsutils/__tests__/instanceOf-test.ts
  src/jsutils/instanceOf.ts
  src/setEnv.ts
Due: eslint --max-warnings 0 --fix, prettier --write

Make ordering in test more consistent
  src/execution/__tests__/executor-test.ts
Due: eslint --max-warnings 0 --fix, prettier --write

pass assumeValid to constructors
  src/type/definition.ts
  src/type/directives.ts
  src/utilities/buildClientSchema.ts
  src/utilities/extendSchema.ts
Due: eslint --max-warnings 0 --fix, prettier --write

Keep order of definitions consistent with the spec
  src/type/introspection.ts
Due: eslint --max-warnings 0 --fix, prettier --write

Path conditions:
  eslint --max-warnings 0 --fix: any of: *.{js,ts}
  prettier --write: ((any of: *.{js,ts}) or (any of: *.json)) or (any of: *.md)
