Repository graphql/graphql-js: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 0 --fix --no-warn-ignored, prettier --write

Remove bot actions
  .github/workflows/cmd-publish-pr-on-npm.yml
  .github/workflows/cmd-run-benchmark.yml
  .github/workflows/github-actions-bot.yml
Due: none

Fix tests
  eslint.config.mjs
  src/execution/__tests__/executor-test.ts
Due: eslint --max-warnings 0 --fix --no-warn-ignored, prettier --write

add tests for embedding fragment variables within custom scalars
  src/execution/__tests__/variables-test.ts
Due: eslint --max-warnings 0 --fix --no-warn-ignored, prettier --write

introduce new interface FragmentVariableValues
  src/execution/collectFields.ts
  src/execution/values.ts
  src/utilities/coerceInputValue.ts
  src/utilities/replaceVariables.ts
  src/utilities/validateInputValue.ts
Due: eslint --max-warnings 0 --fix --no-warn-ignored, prettier --write

fix embedding fragment variables within custom scalars
  src/execution/collectFields.ts
  src/execution/values.ts
  src/utilities/__tests__/replaceVariables-test.ts
  src/utilities/replaceVariables.ts
Due: eslint --max-warnings 0 --fix --no-warn-ignored, prettier --write

make lazy
  src/execution/__tests__/variables-test.ts
  src/execution/collectFields.ts
  src/execution/values.ts
  src/utilities/replaceVariables.ts
Due: eslint --max-warnings 0 --fix --no-warn-ignored, prettier --write

remove experimentalGetArgumentValues
  src/execution/collectFields.ts
  src/execution/execute.ts
  src/execution/values.ts
Due: eslint --max-warnings 0 --fix --no-warn-ignored, prettier --write

make sure replaceVariables gets variables not run statically
  src/utilities/validateInputValue.ts
Due: eslint --max-warnings 0 --fix --no-warn-ignored, prettier --write

Add the version support policy
  README.md
Due: prettier --write

cspell doesn't like 'backported'
  README.md
Due: prettier --write

Add the version support policy (#4390)
  README.md
Due: prettier --write

cursor-based pagination guide
  website/pages/docs/_meta.ts
  website/pages/docs/cursor-based-pagination.mdx
Due: eslint --max-warnings 0 --fix --no-warn-ignored, prettier --write

fix(replaceVariables): preserve sources for fragment variable values (#4389)
  src/execution/__tests__/variables-test.ts
  src/execution/collectFields.ts
  src/execution/execute.ts
  src/execution/values.ts
  src/utilities/__tests__/replaceVariables-test.ts
  src/utilities/coerceInputValue.ts
  src/utilities/replaceVariables.ts
  src/utilities/validateInputValue.ts
Due: eslint --max-warnings 0 --fix --no-warn-ignored, prettier --write

Deploy to 'deno' branch
  execution/collectFields.ts
  execution/execute.ts
  execution/values.ts
  utilities/coerceInputValue.ts
  utilities/replaceVariables.ts
  utilities/validateInputValue.ts
Due: eslint --max-warnings 0 --fix --no-warn-ignored, prettier --write

Deploy to 'npm' branch
  execution/collectFields.d.ts
  execution/collectFields.js
  execution/collectFields.js.map
  execution/collectFields.mjs
  execution/collectFields.mjs.map
  execution/execute.js
  execution/execute.js.map
  execution/execute.mjs
  execution/execute.mjs.map
  execution/values.d.ts
  execution/values.js
  execution/values.js.map
  execution/values.mjs
  execution/values.mjs.map
  utilities/coerceInputValue.d.ts
  utilities/coerceInputValue.js.map
  utilities/coerceInputValue.mjs.map
  utilities/replaceVariables.d.ts
  utilities/replaceVariables.js
  utilities/replaceVariables.js.map
  utilities/replaceVariables.mjs
  utilities/replaceVariables.mjs.map
  utilities/validateInputValue.d.ts
  utilities/validateInputValue.js
  utilities/validateInputValue.js.map
  utilities/validateInputValue.mjs
  utilities/validateInputValue.mjs.map
Due: eslint --max-warnings 0 --fix --no-warn-ignored, prettier --write

add cspell.yaml
  cspell.yml
Due: none

Update website/pages/docs/cursor-based-pagination.mdx
  website/pages/docs/cursor-based-pagination.mdx
Due: none

update for feedback, added database pagination
  website/pages/docs/cursor-based-pagination.mdx
Due: none

docs: N+1 problem and DataLoader (#4383)
  cspell.yml
  website/pages/docs/_meta.ts
  website/pages/docs/n1-dataloader.mdx
Due: eslint --max-warnings 0 --fix --no-warn-ignored, prettier --write

docs: add guides for custom scalars (#4380)
  cspell.yml
  website/pages/docs/_meta.ts
  website/pages/docs/advanced-custom-scalars.mdx
  website/pages/docs/custom-scalars.mdx
Due: eslint --max-warnings 0 --fix --no-warn-ignored, prettier --write

docs: cursor-based pagination guide (#4391)
  website/pages/docs/_meta.ts
  website/pages/docs/cursor-based-pagination.mdx
Due: eslint --max-warnings 0 --fix --no-warn-ignored, prettier --write

Catch unhandled exception in abstract resolution
  src/execution/__tests__/union-interface-test.ts
  src/execution/execute.ts
Due: eslint --max-warnings 0 --fix --no-warn-ignored, prettier --write

Update union-interface-test.ts
  src/execution/__tests__/union-interface-test.ts
Due: eslint --max-warnings 0 --fix --no-warn-ignored, prettier --write

Update execute.ts
  .c8rc.json
  src/execution/__tests__/union-interface-test.ts
  src/execution/execute.ts
Due: eslint --max-warnings 0 --fix --no-warn-ignored, prettier --write

fix spellcheck
  cspell.yml
Due: none

add page on abstract types
  website/pages/docs/_meta.ts
  website/pages/docs/abstract-types.mdx
Due: eslint --max-warnings 0 --fix --no-warn-ignored, prettier --write

spellcheck fix
  website/pages/docs/abstract-types.mdx
Due: none

docs: add page on abstract types (#4393)
  website/pages/docs/_meta.ts
  website/pages/docs/abstract-types.mdx
Due: eslint --max-warnings 0 --fix --no-warn-ignored, prettier --write

Editorial
  website/pages/docs/abstract-types.mdx
Due: none

Change prettier-ignore comment to MDX
  website/pages/docs/abstract-types.mdx
Due: none

Light editorial for #4381
  website/pages/docs/resolver-anatomy.mdx
Due: none

Light editorial for #4382
  website/pages/docs/graphql-errors.mdx
Due: none

Light editorial on #4383
  website/pages/docs/n1-dataloader.mdx
Due: none

Light editorial on #4380
  website/pages/docs/advanced-custom-scalars.mdx
  website/pages/docs/custom-scalars.mdx
Due: none

Editorial to #4391
  website/pages/docs/cursor-based-pagination.mdx
Due: none

Typo
  website/pages/docs/cursor-based-pagination.mdx
Due: none

add guide on auth strategies
  website/pages/docs/_meta.ts
  website/pages/docs/authentication-and-express-middleware.mdx
  website/pages/docs/authorization-strategies.mdx
Due: eslint --max-warnings 0 --fix --no-warn-ignored, prettier --write

Add section about ESM syntax snippets
  website/pages/docs/authorization-strategies.mdx
Due: none

Path conditions:
  eslint --max-warnings 0 --fix --no-warn-ignored: any of: *.{js,ts}
  prettier --write: ((any of: *.{js,ts}) or (any of: *.json)) or (any of: *.md)
