Repository graphql/graphql-js: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 0 --rulesdir resources/eslint-internal-rules/ --fix, prettier --write

Styling fixes
  cspell.yml
  website/docs/tutorials/authentication-and-express-middleware.md
  website/docs/tutorials/basic-types.md
  website/docs/tutorials/constructing-types.md
  website/docs/tutorials/express-graphql.md
  website/docs/tutorials/going-to-production.md
  website/docs/tutorials/graphql-clients.md
  website/docs/tutorials/hello.png
  website/docs/tutorials/index.md
  website/docs/tutorials/mutations-and-input-types.md
  website/docs/tutorials/object-types.md
  website/docs/tutorials/passing-arguments.md
  website/docs/tutorials/running-an-express-graphql-server.md
  website/package-lock.json
  website/package.json
  website/pages/_app.tsx
  website/pages/_document.tsx
  website/pages/index.mdx
  website/postcss.config.js
  website/tailwind.config.js
  website/theme.config.tsx
Due: eslint --max-warnings 0 --rulesdir resources/eslint-internal-rules/ --fix, prettier --write

Styling fixes (#4249)
  cspell.yml
  website/docs/tutorials/authentication-and-express-middleware.md
  website/docs/tutorials/basic-types.md
  website/docs/tutorials/constructing-types.md
  website/docs/tutorials/express-graphql.md
  website/docs/tutorials/going-to-production.md
  website/docs/tutorials/graphql-clients.md
  website/docs/tutorials/hello.png
  website/docs/tutorials/index.md
  website/docs/tutorials/mutations-and-input-types.md
  website/docs/tutorials/object-types.md
  website/docs/tutorials/passing-arguments.md
  website/docs/tutorials/running-an-express-graphql-server.md
  website/package-lock.json
  website/package.json
  website/pages/_app.tsx
  website/pages/_document.tsx
  website/pages/index.mdx
  website/postcss.config.js
  website/tailwind.config.js
  website/theme.config.tsx
Due: eslint --max-warnings 0 --rulesdir resources/eslint-internal-rules/ --fix, prettier --write

chore: patch codspeed
  patches/@codspeed+core+3.1.0.patch
  patches/@codspeed+core+3.1.1.patch
  patches/@codspeed+vitest-plugin+3.1.1.patch
Due: none

chore: fix patch
  patches/@codspeed+core+3.1.1.patch
Due: none

chore: remove tinybench plugin
  package-lock.json
  package.json
Due: prettier --write

fix: adjust commonly ignored files workflow
  .github/workflows/ci.yml
Due: none

WIP
  integrationTests/ts/tsconfig.json
  package-lock.json
  package.json
  src/execution/__tests__/abort-signal-test.ts
  src/execution/execute.ts
  src/graphql.ts
Due: eslint --max-warnings 0 --rulesdir resources/eslint-internal-rules/ --fix, prettier --write

chore: unpin tinybench
  package-lock.json
  package.json
Due: prettier --write

Introduce possibility of passing in an AbortSignal
  integrationTests/ts/tsconfig.json
  package-lock.json
  package.json
  src/execution/__tests__/abort-signal-test.ts
  src/execution/execute.ts
  src/graphql.ts
Due: eslint --max-warnings 0 --rulesdir resources/eslint-internal-rules/ --fix, prettier --write

AbortController support (#4250)
  integrationTests/ts/tsconfig.json
  package-lock.json
  package.json
  src/execution/__tests__/abort-signal-test.ts
  src/execution/execute.ts
  src/graphql.ts
Due: eslint --max-warnings 0 --rulesdir resources/eslint-internal-rules/ --fix, prettier --write

Deploy to 'deno' branch
  execution/execute.ts
  graphql.ts
Due: eslint --max-warnings 0 --rulesdir resources/eslint-internal-rules/ --fix, prettier --write

Deploy to 'npm' branch
  execution/execute.d.ts
  execution/execute.js
  execution/execute.js.map
  execution/execute.mjs
  execution/execute.mjs.map
  graphql.d.ts
  graphql.js.map
  graphql.mjs.map
Due: eslint --max-warnings 0 --rulesdir resources/eslint-internal-rules/ --fix, prettier --write

Expose `tokenCount` on the `DocumentNode`
  src/language/__tests__/parser-test.ts
  src/language/ast.ts
  src/language/parser.ts
Due: eslint --max-warnings 0 --rulesdir resources/eslint-internal-rules/ --fix, prettier --write

Remove location and path
  src/execution/__tests__/abort-signal-test.ts
  src/execution/execute.ts
Due: eslint --max-warnings 0 --rulesdir resources/eslint-internal-rules/ --fix, prettier --write

Get rid of enums in favor off plain JS usage
  src/language/ast.ts
  src/language/directiveLocation.ts
  src/language/kinds.ts
  src/language/tokenKind.ts
  src/type/introspection.ts
  src/utilities/findSchemaChanges.ts
  src/utilities/getIntrospectionQuery.ts
Due: eslint --max-warnings 0 --rulesdir resources/eslint-internal-rules/ --fix, prettier --write

Expose `tokenCount` on the `DocumentNode` (#4251)
  src/language/__tests__/parser-test.ts
  src/language/ast.ts
  src/language/parser.ts
Due: eslint --max-warnings 0 --rulesdir resources/eslint-internal-rules/ --fix, prettier --write

Deploy to 'deno' branch
  language/ast.ts
  language/parser.ts
Due: eslint --max-warnings 0 --rulesdir resources/eslint-internal-rules/ --fix, prettier --write

Deploy to 'npm' branch
  language/ast.d.ts
  language/ast.js.map
  language/ast.mjs.map
  language/parser.d.ts
  language/parser.js
  language/parser.js.map
  language/parser.mjs
  language/parser.mjs.map
Due: eslint --max-warnings 0 --rulesdir resources/eslint-internal-rules/ --fix, prettier --write

Fix title of going to production
  website/pages/going-to-production.mdx
Due: none

Replace var with const
  website/pages/authentication-and-express-middleware.mdx
  website/pages/basic-types.mdx
  website/pages/constructing-types.mdx
  website/pages/error.mdx
  website/pages/execution.mdx
  website/pages/graphql.mdx
  website/pages/language.mdx
  website/pages/mutations-and-input-types.mdx
  website/pages/object-types.mdx
  website/pages/passing-arguments.mdx
  website/pages/running-an-express-graphql-server.mdx
  website/pages/type.mdx
  website/pages/utilities.mdx
  website/pages/validation.mdx
Due: none

Remove log
  website/pages/_app.tsx
  website/pages/validation.mdx
Due: none

Various fixes to docs (#4256)
  website/pages/_app.tsx
  website/pages/authentication-and-express-middleware.mdx
  website/pages/basic-types.mdx
  website/pages/constructing-types.mdx
  website/pages/error.mdx
  website/pages/execution.mdx
  website/pages/going-to-production.mdx
  website/pages/graphql.mdx
  website/pages/language.mdx
  website/pages/mutations-and-input-types.mdx
  website/pages/object-types.mdx
  website/pages/passing-arguments.mdx
  website/pages/running-an-express-graphql-server.mdx
  website/pages/type.mdx
  website/pages/utilities.mdx
  website/pages/validation.mdx
Due: none

fix: abortion should not cause incremental completion error
  src/execution/__tests__/abort-signal-test.ts
  src/execution/execute.ts
Due: eslint --max-warnings 0 --rulesdir resources/eslint-internal-rules/ --fix, prettier --write

reuse variable
  src/execution/execute.ts
Due: eslint --max-warnings 0 --rulesdir resources/eslint-internal-rules/ --fix, prettier --write

fix: cancellation should not cause incremental completion error (#4259)
  src/execution/__tests__/abort-signal-test.ts
  src/execution/execute.ts
Due: eslint --max-warnings 0 --rulesdir resources/eslint-internal-rules/ --fix, prettier --write

Deploy to 'deno' branch
  execution/execute.ts
Due: eslint --max-warnings 0 --rulesdir resources/eslint-internal-rules/ --fix, prettier --write

Deploy to 'npm' branch
  execution/execute.js
  execution/execute.js.map
  execution/execute.mjs
  execution/execute.mjs.map
Due: eslint --max-warnings 0 --rulesdir resources/eslint-internal-rules/ --fix, prettier --write

fix: handle default and different types passed to abort method
  src/execution/__tests__/abort-signal-test.ts
  src/execution/execute.ts
Due: eslint --max-warnings 0 --rulesdir resources/eslint-internal-rules/ --fix, prettier --write

fix: handle default and different types passed to abort method (#4258)
  src/execution/__tests__/abort-signal-test.ts
  src/execution/execute.ts
Due: eslint --max-warnings 0 --rulesdir resources/eslint-internal-rules/ --fix, prettier --write

adjust toError wrapping to be more generic
  src/error/__tests__/locatedError-test.ts
  src/execution/__tests__/abort-signal-test.ts
  src/execution/__tests__/executor-test.ts
  src/jsutils/toError.ts
Due: eslint --max-warnings 0 --rulesdir resources/eslint-internal-rules/ --fix, prettier --write

feat: pass abortSignal to resolvers
  src/execution/execute.ts
  src/type/definition.ts
Due: eslint --max-warnings 0 --rulesdir resources/eslint-internal-rules/ --fix, prettier --write

RFC: Default value validation & coercion
  cspell.yml
  src/execution/__tests__/variables-test.ts
  src/index.ts
  src/type/__tests__/enumType-test.ts
  src/type/__tests__/validation-test.ts
  src/type/introspection.ts
  src/type/validate.ts
  src/utilities/__tests__/astFromValue-test.ts
  src/utilities/astFromValue.ts
  src/utilities/coerceInputValue.ts
  src/utilities/findSchemaChanges.ts
  src/utilities/index.ts
  src/utilities/printSchema.ts
Due: eslint --max-warnings 0 --rulesdir resources/eslint-internal-rules/ --fix, prettier --write

update terms with recent scalar changes
  src/type/validate.ts
Due: eslint --max-warnings 0 --rulesdir resources/eslint-internal-rules/ --fix, prettier --write

RFC: Default value validation & coercion (#3814)
  cspell.yml
  src/execution/__tests__/variables-test.ts
  src/index.ts
  src/type/__tests__/enumType-test.ts
  src/type/__tests__/validation-test.ts
  src/type/introspection.ts
  src/type/validate.ts
  src/utilities/__tests__/astFromValue-test.ts
  src/utilities/astFromValue.ts
  src/utilities/coerceInputValue.ts
  src/utilities/findSchemaChanges.ts
  src/utilities/index.ts
  src/utilities/printSchema.ts
Due: eslint --max-warnings 0 --rulesdir resources/eslint-internal-rules/ --fix, prettier --write

Deploy to 'deno' branch
  index.ts
  type/introspection.ts
  type/validate.ts
  utilities/astFromValue.ts
  utilities/coerceInputValue.ts
  utilities/findSchemaChanges.ts
  utilities/index.ts
  utilities/printSchema.ts
Due: eslint --max-warnings 0 --rulesdir resources/eslint-internal-rules/ --fix, prettier --write

Deploy to 'npm' branch
  index.d.ts
  index.js
  index.js.map
  index.mjs
  index.mjs.map
  type/introspection.js
  type/introspection.js.map
  type/introspection.mjs
  type/introspection.mjs.map
  type/validate.js
  type/validate.js.map
  type/validate.mjs
  type/validate.mjs.map
  utilities/astFromValue.d.ts
  utilities/astFromValue.js
  utilities/astFromValue.js.map
  utilities/astFromValue.mjs
  utilities/astFromValue.mjs.map
  utilities/coerceInputValue.js
  utilities/coerceInputValue.js.map
  utilities/coerceInputValue.mjs
  utilities/coerceInputValue.mjs.map
  utilities/findSchemaChanges.js
  utilities/findSchemaChanges.js.map
  utilities/findSchemaChanges.mjs
  utilities/findSchemaChanges.mjs.map
  utilities/index.d.ts
  utilities/index.js
  utilities/index.js.map
  utilities/index.mjs
  utilities/index.mjs.map
  utilities/printSchema.js
  utilities/printSchema.js.map
  utilities/printSchema.mjs
  utilities/printSchema.mjs.map
Due: eslint --max-warnings 0 --rulesdir resources/eslint-internal-rules/ --fix, prettier --write

Fix going to production
  website/pages/going-to-production.mdx
Due: none

Path conditions:
  eslint --max-warnings 0 --rulesdir resources/eslint-internal-rules/ --fix: any of: *.{js,ts}
  prettier --write: ((any of: *.{js,ts}) or (any of: *.json)) or (any of: *.md)
