Repository graphql/graphql-js: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 0 --fix --no-warn-ignored, prettier --write

Update docs for execution options (#4368)
  website/pages/api-v16/error.mdx
  website/pages/api-v16/execution.mdx
Due: none

Imported GraphQLString and fixed the resolver part as per code first approach.
  website/pages/docs/getting-started.mdx
Due: none

Imported GraphQLString and fixed the resolver part as per code first approach.
  website/pages/docs/running-an-express-graphql-server.mdx
Due: none

Imported GraphQLString and fixed error.
  website/pages/docs/getting-started.mdx
Due: none

Imported GraphQLString and fixed the error.
  website/pages/docs/running-an-express-graphql-server.mdx
Due: none

Refactor every code-first example to leverage reoslve
  website/pages/docs/authentication-and-express-middleware.mdx
  website/pages/docs/basic-types.mdx
  website/pages/docs/constructing-types.mdx
  website/pages/docs/getting-started.mdx
  website/pages/docs/mutations-and-input-types.mdx
  website/pages/docs/object-types.mdx
  website/pages/docs/passing-arguments.mdx
  website/pages/docs/running-an-express-graphql-server.mdx
Due: none

Update getting-started.mdx
  website/pages/docs/getting-started.mdx
Due: none

Update running-an-express-graphql-server.mdx
  website/pages/docs/running-an-express-graphql-server.mdx
Due: none

add guide for graphQL server type generation
  website/pages/docs/_meta.ts
  website/pages/docs/type-generation.mdx
Due: eslint --max-warnings 0 --fix --no-warn-ignored, prettier --write

Bump setup-node
  .github/workflows/ci.yml
  .github/workflows/cmd-publish-pr-on-npm.yml
  .github/workflows/cmd-run-benchmark.yml
  .github/workflows/pull_request.yml
Due: none

Chore: bump setup-node (#4377)
  .github/workflows/ci.yml
  .github/workflows/cmd-publish-pr-on-npm.yml
  .github/workflows/cmd-run-benchmark.yml
  .github/workflows/pull_request.yml
Due: none

docs: Update getting-started.mdx (#4373)
  website/pages/docs/getting-started.mdx
  website/pages/docs/running-an-express-graphql-server.mdx
Due: none

Refactor every code-first example to leverage resolve (#4372)
  website/pages/docs/authentication-and-express-middleware.mdx
  website/pages/docs/basic-types.mdx
  website/pages/docs/constructing-types.mdx
  website/pages/docs/getting-started.mdx
  website/pages/docs/mutations-and-input-types.mdx
  website/pages/docs/object-types.mdx
  website/pages/docs/passing-arguments.mdx
  website/pages/docs/running-an-express-graphql-server.mdx
Due: none

Change to gqlConf 2025
  README.md
  assets/graphql-conf-2025.png
Due: prettier --write

Change to gqlConf 2025 (#4378)
  README.md
  assets/graphql-conf-2025.png
Due: prettier --write

Add missing parenthesis
  README.md
Due: prettier --write

Add missing parenthesis (#4379)
  README.md
Due: prettier --write

16.11.0
  package-lock.json
  package.json
  src/version.ts
Due: eslint --max-warnings 0 --fix --no-warn-ignored, prettier --write

add guides for custom scalars
  website/pages/docs/_meta.ts
  website/pages/docs/advanced-custom-scalars.mdx
  website/pages/docs/custom-scalars.mdx
Due: eslint --max-warnings 0 --fix --no-warn-ignored, prettier --write

add testing graphQL servers docs
  website/pages/docs/testing-approaches.mdx
  website/pages/docs/testing-best-practices.mdx
  website/pages/docs/testing-graphql-servers.mdx
  website/pages/docs/testing-operations.mdx
  website/pages/docs/testing-resolvers.mdx
Due: none

proofreading and typo cleanup
  website/pages/docs/testing-approaches.mdx
  website/pages/docs/testing-best-practices.mdx
  website/pages/docs/testing-graphql-servers.mdx
  website/pages/docs/testing-operations.mdx
Due: none

more proofreading, adding links, and reorganizing the left-hand nav
  website/pages/docs/_meta.ts
  website/pages/docs/testing-approaches.mdx
  website/pages/docs/testing-graphql-servers.mdx
Due: eslint --max-warnings 0 --fix --no-warn-ignored, prettier --write

feedback
  website/pages/docs/type-generation.mdx
Due: none

add anatomy of a resolver guide
  website/pages/docs/_meta.ts
  website/pages/docs/resolver-anatomy.mdx
Due: eslint --max-warnings 0 --fix --no-warn-ignored, prettier --write

add community resources
  website/pages/docs/advanced-custom-scalars.mdx
  website/pages/docs/custom-scalars.mdx
Due: none

add dataloader link
  website/pages/docs/resolver-anatomy.mdx
Due: none

add docs for handling errors
  website/pages/docs/_meta.ts
  website/pages/docs/graphql-errors.mdx
Due: eslint --max-warnings 0 --fix --no-warn-ignored, prettier --write

Update website/pages/docs/advanced-custom-scalars.mdx
  website/pages/docs/advanced-custom-scalars.mdx
Due: none

n1 and dataloader
  website/pages/docs/n1-dataloader.mdx
Due: none

add to nav
  website/pages/docs/_meta.ts
Due: eslint --max-warnings 0 --fix --no-warn-ignored, prettier --write

nits
  website/pages/docs/n1-dataloader.mdx
Due: none

proofreading and spelling fixes
  website/pages/docs/n1-dataloader.mdx
Due: none

Add tests
  src/execution/__tests__/executor-test.ts
Due: eslint --max-warnings 0 --fix --no-warn-ignored, prettier --write

Implement onError proposal
  src/error/ErrorBehavior.ts
  src/error/index.ts
  src/execution/__tests__/executor-test.ts
  src/execution/execute.ts
  src/graphql.ts
  src/index.ts
  src/type/definition.ts
Due: eslint --max-warnings 0 --fix --no-warn-ignored, prettier --write

Urghhhhhh
  src/execution/execute.ts
Due: eslint --max-warnings 0 --fix --no-warn-ignored, prettier --write

Test invalid onError is handled
  src/execution/__tests__/executor-test.ts
Due: eslint --max-warnings 0 --fix --no-warn-ignored, prettier --write

Remove unnecessary resolver causing coverage issue
  src/execution/__tests__/executor-test.ts
Due: eslint --max-warnings 0 --fix --no-warn-ignored, prettier --write

Ignore invariant from code coverage
  src/execution/execute.ts
Due: eslint --max-warnings 0 --fix --no-warn-ignored, prettier --write

Path conditions:
  eslint --max-warnings 0 --fix --no-warn-ignored: any of: *.{js,ts}
  prettier --write: ((any of: *.{js,ts}) or (any of: *.json)) or (any of: *.md)
