Repository graphql/graphql-js: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 0 --fix, prettier --write

fix(validation): incorrect validation errors when variable descriptions are used (#4517)
  src/validation/__tests__/validation-test.ts
  src/validation/validate.ts
Due: eslint --max-warnings 0 --fix, prettier --write

treat dot as punctuator for schema coordinate parsing
  src/language/__tests__/parser-test.ts
  src/language/lexer.ts
Due: eslint --max-warnings 0 --fix, prettier --write

export all schema coordinate types
  src/index.ts
  src/language/index.ts
Due: eslint --max-warnings 0 --fix, prettier --write

add one of validation tests
  src/utilities/__tests__/validateInputValue-test.ts
Due: eslint --max-warnings 0 --fix, prettier --write

add additional mapSchemaConfig tests
  src/utilities/__tests__/mapSchemaConfig-test.ts
Due: eslint --max-warnings 0 --fix, prettier --write

add "as const" to schema change type "enum"
  src/utilities/findSchemaChanges.ts
Due: eslint --max-warnings 0 --fix, prettier --write

valueFromAST: use nullish to simplify
  src/utilities/valueFromAST.ts
Due: eslint --max-warnings 0 --fix, prettier --write

prune prettierignore
  .prettierignore
Due: none

remove old generated next folder from .gitignore
  .gitignore
Due: none

chore: always ignore scripts (#4514)
  .npmrc
Due: none

Revert website on next to 16.x.x version
  website/.eslintignore
  website/docs/tutorials/defer-stream.md
  website/next.config.js
  website/pages/_app.tsx
  website/pages/_document.tsx
  website/pages/api-v16/language.mdx
  website/pages/docs/_meta.ts
  website/pages/docs/getting-started.mdx
  website/pages/docs/mutations-and-input-types.mdx
  website/pages/docs/running-an-express-graphql-server.mdx
  website/pages/docs/scaling-graphql.mdx
  website/pages/docs/testing-approaches.mdx
  website/pages/docs/testing-best-practices.mdx
  website/pages/docs/testing-graphql-servers.mdx
  website/pages/docs/testing-operations.mdx
  website/pages/docs/testing-resolvers.mdx
  website/theme.config.tsx
  website/tsconfig.json
Due: eslint --max-warnings 0 --fix, prettier --write

website: fix build
  eslint.config.mjs
  website/theme.config.tsx
Due: none

Include website within main CI for lintiing
  eslint.config.mjs
Due: none

test(validation): add empty-selection case from 16.x.x backport
  src/validation/__tests__/ScalarLeafsRule-test.ts
Due: eslint --max-warnings 0 --fix, prettier --write

test(validation): add OneOf variable tests from 16.x.x to next
  src/validation/__tests__/VariablesInAllowedPositionRule-test.ts
Due: eslint --max-warnings 0 --fix, prettier --write

validation: align MaxIntrospectionDepthRule with v16 backport
  src/validation/rules/MaxIntrospectionDepthRule.ts
Due: eslint --max-warnings 0 --fix, prettier --write

remove legacy comment
  src/language/__tests__/parser-test.ts
Due: eslint --max-warnings 0 --fix, prettier --write

align schema coordinates comments
  src/language/ast.ts
  src/language/parser.ts
Due: eslint --max-warnings 0 --fix, prettier --write

polish: align schema coordinate whitespace
  src/language/kinds_.ts
Due: eslint --max-warnings 0 --fix, prettier --write

validation: add description-handling comment
  src/validation/rules/ValuesOfCorrectTypeRule.ts
Due: eslint --max-warnings 0 --fix, prettier --write

polish: reorder tests to match 16.x.x
  src/language/__tests__/parser-test.ts
Due: eslint --max-warnings 0 --fix, prettier --write

prune cspell file
  cspell.yml
Due: none

Expand @deprecated to Object types
  src/type/__tests__/definition-test.ts
  src/type/__tests__/introspection-test.ts
  src/type/__tests__/validation-test.ts
  src/type/definition.ts
  src/type/directives.ts
  src/type/introspection.ts
  src/type/validate.ts
  src/utilities/__tests__/buildASTSchema-test.ts
  src/utilities/__tests__/getIntrospectionQuery-test.ts
  src/utilities/__tests__/printSchema-test.ts
  src/utilities/buildClientSchema.ts
  src/utilities/extendSchema.ts
  src/utilities/getIntrospectionQuery.ts
  src/utilities/printSchema.ts
  src/validation/__tests__/NoDeprecatedCustomRule-test.ts
  src/validation/rules/custom/NoDeprecatedCustomRule.ts
Due: eslint --max-warnings 0 --fix, prettier --write

align README with new dev mode
  README.md
Due: prettier --write

add latest version of node to test matrix
  .github/workflows/ci.yml
Due: none

add also to integration tests
  package.json
Due: prettier --write

update package-lock.json
  package-lock.json
Due: prettier --write

upgrade deps
  eslint.config.mjs
  integrationTests/ts/package.json
  package-lock.json
  package.json
  src/__testUtils__/__tests__/expectEqualPromisesOrValues-test.ts
  src/execution/Executor.ts
  src/execution/incremental/IncrementalExecutor.ts
  src/execution/incremental/__tests__/Computation-test.ts
  src/execution/incremental/__tests__/stream-test.ts
  src/execution/legacyIncremental/__tests__/legacy-stream-test.ts
  src/graphql.ts
  src/index.ts
  src/language/__tests__/parser-test.ts
  src/language/index.ts
  src/type/definition.ts
  src/type/directives.ts
Due: eslint --max-warnings 0 --fix, prettier --write

Add mergeAST utility for merging multiple AST documents
  src/index.ts
  src/utilities/__tests__/mergeAST-test.ts
  src/utilities/index.ts
  src/utilities/mergeAST.ts
Due: eslint --max-warnings 0 --fix, prettier --write

lint: add brackets to path
  eslint.config.mjs
Due: none

16.13.0
  package-lock.json
  package.json
  src/version.ts
Due: eslint --max-warnings 0 --fix, prettier --write

test(execution): add additional tests from original PR #4458
  src/execution/__tests__/nonnull-test.ts
Due: eslint --max-warnings 0 --fix, prettier --write

chore(eslint): simplify ignore-pattern
  eslint.config.mjs
Due: none

17.0.0-alpha.10
  package-lock.json
  package.json
  src/version.ts
Due: eslint --max-warnings 0 --fix, prettier --write

resources: merge execOutput and exec into single function (#3698)
  resources/benchmark.ts
  resources/diff-npm-package.ts
  resources/gen-changelog.ts
  resources/utils.ts
Due: eslint --max-warnings 0 --fix, prettier --write

add changesets to 17.x.x alpha
  .changeset/README.md
  .changeset/config.json
  .changeset/pre.json
  .changeset/wacky-streets-obey.md
  .github/CONTRIBUTING.md
  .github/workflows/changesets.yml
  package-lock.json
  package.json
  resources/release-publish.ts
  resources/utils.ts
Due: eslint --max-warnings 0 --fix, prettier --write

pin node 25 to 25.6
  .github/workflows/ci.yml
Due: none

Revert "add changesets to 17.x.x alpha (#4599)"
  .changeset/README.md
  .changeset/config.json
  .changeset/pre.json
  .changeset/wacky-streets-obey.md
  .github/CONTRIBUTING.md
  .github/workflows/changesets.yml
  package-lock.json
  package.json
  resources/release-publish.ts
  resources/utils.ts
Due: eslint --max-warnings 0 --fix, prettier --write

internal: remove unused gitpublish scripts
  package.json
Due: prettier --write

update(changelog): aggregate label errors and handle missing tag
  resources/gen-changelog.ts
Due: eslint --max-warnings 0 --fix, prettier --write

Path conditions:
  eslint --max-warnings 0 --fix: any of: *.{js,ts}
  prettier --write: ((any of: *.{js,ts}) or (any of: *.json)) or (any of: *.md)
