Repository graphql/graphql-js: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 0 --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,ts}": ["eslint --max-warnings 0 --fix", "prettier --write"],
  "*.json": "prettier --write",
  "*.md": "prettier --write"
}

fix: preserve generated version docs
  resources/gen-version.ts
Due: eslint --max-warnings 0 --fix, prettier --write

fix: preserve generated version docs
  resources/gen-version.js
  src/version.ts
Due: eslint --max-warnings 0 --fix, prettier --write

chore(release): v17.0.0-beta.2
  package-lock.json
  package.json
  src/version.ts
Due: eslint --max-warnings 0 --fix, prettier --write

chore(release): v16.14.1
  package-lock.json
  package.json
  src/version.ts
Due: eslint --max-warnings 0 --fix, prettier --write

improve docs around originalError and cause
  src/error/GraphQLError.ts
Due: eslint --max-warnings 0 --fix, prettier --write

docs: update API
  website/pages/api-v17/error.mdx
  website/pages/api-v17/execution.mdx
Due: none

docs: fix deprecated markings
  website/css/globals.css
  website/generate-api.js
  website/pages/api-v16/error.mdx
  website/pages/api-v16/language.mdx
  website/pages/api-v16/subscription.mdx
  website/pages/api-v16/utilities.mdx
  website/pages/api-v17/error.mdx
  website/pages/api-v17/type.mdx
  website/pages/api-v17/utilities.mdx
Due: eslint --max-warnings 0 --fix, prettier --write

docs: increase spacing in embedded TOC
  website/css/globals.css
Due: none

docs: restore missing docs
  website/generate-api.js
  website/pages/api-v16/execution.mdx
  website/pages/api-v16/language.mdx
  website/pages/api-v16/subscription.mdx
  website/pages/api-v16/type.mdx
  website/pages/api-v16/utilities.mdx
  website/pages/api-v17/language.mdx
  website/pages/api-v17/type.mdx
  website/pages/api-v17/utilities.mdx
Due: eslint --max-warnings 0 --fix, prettier --write

Rewrite defer/stream on valid operations rule
  src/validation/__tests__/DeferStreamDirectiveOnValidOperationsRule-test.ts
  src/validation/rules/DeferStreamDirectiveOnValidOperationsRule.ts
Due: eslint --max-warnings 0 --fix, prettier --write

Do not copy over stack from error cause
  src/error/GraphQLError.ts
  src/error/__tests__/GraphQLError-test.ts
Due: eslint --max-warnings 0 --fix, prettier --write

editorial change vis a vis comments, no code changes
  src/validation/__tests__/DeferStreamDirectiveOnValidOperationsRule-test.ts
  src/validation/rules/DeferStreamDirectiveOnValidOperationsRule.ts
Due: eslint --max-warnings 0 --fix, prettier --write

Rewrite DeferStreamDirectiveOnRootFieldRule to catch usage in fragments with abstract types
  src/validation/__tests__/DeferStreamDirectiveOnRootFieldRule-test.ts
  src/validation/rules/DeferStreamDirectiveOnRootFieldRule.ts
Due: eslint --max-warnings 0 --fix, prettier --write

add additional tests with conditionally include nested defer
  src/validation/__tests__/DeferStreamDirectiveOnValidOperationsRule-test.ts
Due: eslint --max-warnings 0 --fix, prettier --write

fix broken test instead of removing
  src/error/__tests__/GraphQLError-test.ts
Due: eslint --max-warnings 0 --fix, prettier --write

show cause stack in inspected error
  src/error/__tests__/GraphQLError-test.ts
Due: eslint --max-warnings 0 --fix, prettier --write

reduce diff
  src/execution/Executor.ts
  src/execution/execute.ts
  src/type/validate.ts
  src/validation/validate.ts
Due: eslint --max-warnings 0 --fix, prettier --write

chore(release): v17.0.0-rc.0
  package-lock.json
  package.json
  src/version.ts
Due: eslint --max-warnings 0 --fix, prettier --write

docs: update documentation for v17 release candidate
  website/pages/api-v17/execution.mdx
  website/pages/api-v17/graphql.mdx
  website/pages/api-v17/graphql/_meta.ts
  website/pages/api-v17/validation.mdx
  website/pages/docs/defer-stream.mdx
  website/pages/docs/experimental-specification-features.mdx
  website/pages/docs/fragment-arguments.mdx
  website/pages/docs/getting-started.mdx
  website/pages/docs/going-to-production.mdx
  website/pages/docs/graphql-errors.mdx
  website/pages/docs/index.mdx
  website/pages/upgrade-guides/v16-v17.mdx
Due: eslint --max-warnings 0 --fix, prettier --write

docs: overhaul index and update/add additional migration guides
  website/css/globals.css
  website/pages/_meta.ts
  website/pages/docs/experimental-specification-features.mdx
  website/pages/docs/index.mdx
  website/pages/docs/schema-coordinates.mdx
  website/pages/upgrade-guides/v14-v15.mdx
  website/pages/upgrade-guides/v15-v16.mdx
  website/pages/upgrade-guides/v16-v17.mdx
Due: eslint --max-warnings 0 --fix, prettier --write

docs: adjust comments
  src/diagnostics.ts
Due: eslint --max-warnings 0 --fix, prettier --write

fix: docs: polish diagnostics comments further
  src/diagnostics.ts
Due: eslint --max-warnings 0 --fix, prettier --write

remove extra asterisks
  website/generate-api.js
  website/pages/api-v17/graphql.mdx
Due: eslint --max-warnings 0 --fix, prettier --write

docs: further improve general execution and tracing docs
  src/__testUtils__/expectEvents.ts
  src/__testUtils__/expectNoTracingActivity.ts
  src/__testUtils__/getTracingChannel.ts
  src/__tests__/diagnostics-test.ts
  src/diagnostics.ts
  src/execution/Executor.ts
  src/execution/execute.ts
Due: eslint --max-warnings 0 --fix, prettier --write

docs: refresh website with broader execution/tracing update
  website/pages/api-v17/execution.mdx
  website/pages/api-v17/graphql.mdx
Due: none

chore: allow api-v17 anchor links and walkthrough in spellcheck
  cspell.yml
Due: none

docs: add Node.js tracing channels guide
  website/pages/docs/_meta.ts
  website/pages/docs/tracing-channels.mdx
Due: eslint --max-warnings 0 --fix, prettier --write

docs: align tracing channel article style
  website/pages/docs/tracing-channels.mdx
Due: none

docs: clarify tracing error result semantics
  website/pages/docs/tracing-channels.mdx
Due: none

docs: link the tracing channels guide from the v17 upgrade guide
  website/pages/upgrade-guides/v16-v17.mdx
Due: none

docs: update website caniuse-lite data (#4754)
  website/package-lock.json
Due: prettier --write

docs: dev mode for v17 (#4611)
  website/pages/docs/development-mode.mdx
  website/pages/docs/getting-started.mdx
  website/pages/docs/going-to-production.mdx
  website/pages/upgrade-guides/v16-v17.mdx
Due: none

docs: update banner (#4748)
  website/theme.config.tsx
Due: none

docs: move migrate from express graphql guide to graphqlJS docs (#4433)
  cspell.yml
  website/pages/docs/_meta.ts
  website/pages/docs/migrating-from-express-graphql.mdx
Due: eslint --max-warnings 0 --fix, prettier --write

Fix mistake in GraphQLError guidance (#4706)
  website/pages/upgrade-guides/v16-v17.mdx
Due: none

docs: fix static export redirect config (#4759)
  .gitignore
  website/next.config.js
Due: eslint --max-warnings 0 --fix, prettier --write

docs: refresh upgrade guide and v17 topics (#4737)
  website/pages/docs/_meta.ts
  website/pages/docs/abort-signals.mdx
  website/pages/docs/advanced-custom-scalars.mdx
  website/pages/docs/advanced-execution-pipelines.mdx
  website/pages/docs/custom-scalars.mdx
  website/pages/docs/defer-stream.mdx
  website/pages/docs/directives-on-directives.mdx
  website/pages/docs/execution-hooks.mdx
  website/pages/docs/experimental-specification-features.mdx
  website/pages/docs/fragment-arguments.mdx
  website/pages/docs/getting-started.mdx
  website/pages/docs/graphql-clients.mdx
  website/pages/docs/graphql-harness.mdx
  website/pages/docs/index.mdx
  website/pages/docs/mutations-and-input-types.mdx
  website/pages/docs/oneof-input-objects.mdx
  website/pages/docs/passing-arguments.mdx
  website/pages/docs/schema-coordinates.mdx
  website/pages/docs/schema-evolution.mdx
  website/pages/docs/subscriptions.mdx
  website/pages/upgrade-guides/v16-v17.mdx
  website/vercel.json
Due: eslint --max-warnings 0 --fix, prettier --write

docs: overhaul index and update/add additional migration guides (#4789)
  website/css/globals.css
  website/pages/_meta.ts
  website/pages/docs/experimental-specification-features.mdx
  website/pages/docs/index.mdx
  website/pages/docs/schema-coordinates.mdx
  website/pages/upgrade-guides/v14-v15.mdx
  website/pages/upgrade-guides/v15-v16.mdx
  website/pages/upgrade-guides/v16-v17.mdx
Due: eslint --max-warnings 0 --fix, prettier --write
