Repository graphql/graphql-js: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 0 --fix --no-warn-ignored, prettier --write

.lintstagedrc.json:

{
  "*.{js,ts}": [
    "eslint --max-warnings 0 --fix --no-warn-ignored",
    "prettier --write"
  ],
  "*.json": "prettier --write",
  "*.md": "prettier --write"
}

Finickity
  src/execution/execute.ts
Due: eslint --max-warnings 0 --fix --no-warn-ignored, prettier --write

Allow the schema to set a default error behavior
  src/execution/execute.ts
  src/type/schema.ts
Due: eslint --max-warnings 0 --fix --no-warn-ignored, prettier --write

Integrate into introspection
  src/__tests__/starWarsIntrospection-test.ts
  src/index.ts
  src/type/__tests__/introspection-test.ts
  src/type/__tests__/schema-test.ts
  src/type/directives.ts
  src/type/index.ts
  src/type/introspection.ts
  src/utilities/__tests__/buildASTSchema-test.ts
  src/utilities/__tests__/findBreakingChanges-test.ts
  src/utilities/__tests__/printSchema-test.ts
  src/utilities/extendSchema.ts
  src/utilities/printSchema.ts
Due: eslint --max-warnings 0 --fix --no-warn-ignored, prettier --write

Reorder so NO_PROPAGATE is first
  src/error/ErrorBehavior.ts
  src/execution/__tests__/executor-test.ts
  src/execution/execute.ts
Due: eslint --max-warnings 0 --fix --no-warn-ignored, prettier --write

Started work on introspection
  src/type/__tests__/introspection-test.ts
  src/utilities/getIntrospectionQuery.ts
Due: eslint --max-warnings 0 --fix --no-warn-ignored, prettier --write

Lint
  src/type/schema.ts
  src/utilities/extendSchema.ts
  src/utilities/printSchema.ts
Due: eslint --max-warnings 0 --fix --no-warn-ignored, prettier --write

Fix TypeScript issue
  src/type/schema.ts
Due: eslint --max-warnings 0 --fix --no-warn-ignored, prettier --write

Add missing test
  src/utilities/__tests__/printSchema-test.ts
Due: eslint --max-warnings 0 --fix --no-warn-ignored, prettier --write

Reflect defaultErrorBehavior in buildClientSchema
  src/utilities/__tests__/buildClientSchema-test.ts
  src/utilities/buildClientSchema.ts
  src/utilities/getIntrospectionQuery.ts
Due: eslint --max-warnings 0 --fix --no-warn-ignored, prettier --write

Elevate ErrorBehavior to be a specified enum
  src/__tests__/starWarsIntrospection-test.ts
  src/error/ErrorBehavior.ts
  src/error/index.ts
  src/execution/execute.ts
  src/graphql.ts
  src/index.ts
  src/type/__tests__/introspection-test.ts
  src/type/__tests__/predicate-test.ts
  src/type/__tests__/schema-test.ts
  src/type/definition.ts
  src/type/directives.ts
  src/type/enums.ts
  src/type/index.ts
  src/type/introspection.ts
  src/type/schema.ts
  src/utilities/__tests__/printSchema-test.ts
  src/utilities/buildClientSchema.ts
  src/utilities/extendSchema.ts
  src/utilities/findBreakingChanges.ts
  src/utilities/getIntrospectionQuery.ts
  src/utilities/lexicographicSortSchema.ts
  src/utilities/printSchema.ts
  src/validation/rules/KnownTypeNamesRule.ts
Due: eslint --max-warnings 0 --fix --no-warn-ignored, prettier --write

Coverage
  src/utilities/findBreakingChanges.ts
Due: eslint --max-warnings 0 --fix --no-warn-ignored, prettier --write

Alternative coverage fix
  src/utilities/findBreakingChanges.ts
Due: eslint --max-warnings 0 --fix --no-warn-ignored, prettier --write

Publish as ESM only
  eslint.config.mjs
  integrationTests/node/index.js
  integrationTests/node/index.mjs
  integrationTests/node/package.json
  integrationTests/node/test.js
  integrationTests/ts/esm.ts
  integrationTests/ts/package.json
  integrationTests/webpack/entry-esm.mjs
  integrationTests/webpack/package.json
  integrationTests/webpack/test.js
  integrationTests/webpack/webpack.config.json
  package-lock.json
  package.json
  resources/build-npm.ts
  resources/integration-test.ts
Due: eslint --max-warnings 0 --fix --no-warn-ignored, prettier --write

docs: anatomy of a resolver (#4381)
  website/pages/docs/_meta.ts
  website/pages/docs/resolver-anatomy.mdx
Due: eslint --max-warnings 0 --fix --no-warn-ignored, prettier --write

docs: understanding graphql errors (#4382)
  website/pages/docs/_meta.ts
  website/pages/docs/graphql-errors.mdx
Due: eslint --max-warnings 0 --fix --no-warn-ignored, prettier --write

Be selective about instanceof
  src/index.ts
  src/jsutils/__tests__/instanceOf-test.ts
  src/jsutils/instanceOf.ts
  src/utilities/env.ts
Due: eslint --max-warnings 0 --fix --no-warn-ignored, prettier --write

Temporarily disable GitHubActionsBot
  .github/workflows/cmd-publish-pr-on-npm.yml
  .github/workflows/cmd-run-benchmark.yml
  .github/workflows/github-actions-bot.yml
Due: none

Change upgrade guide for recent PRs
  website/pages/upgrade-guides/v16-v17.mdx
Due: none

Pull some of the GitHub actions updates from main
  .github/workflows/ci.yml
  .github/workflows/deploy-artifact-as-branch.yml
  .github/workflows/pull_request.yml
  .github/workflows/pull_request_opened.yml
  .github/workflows/push.yml
Due: none

Add redirect for /api (#4327)
  website/vercel.json
Due: prettier --write

Increase print/visit performance (#4312)
  benchmark/fixtures.js
  benchmark/kitchen-sink.graphql
  benchmark/printer-benchmark.js
  src/language/visitor.ts
Due: eslint --max-warnings 0 --fix --no-warn-ignored, prettier --write

fix eslint errors with website
  eslint.config.mjs
Due: none

fix sidebar for documentation and `/api-v16` (#4331)
  website/next.config.js
  website/pages/_meta.ts
  website/pages/docs/_meta.ts
  website/pages/docs/authentication-and-express-middleware.mdx
  website/pages/docs/basic-types.mdx
  website/pages/docs/constructing-types.mdx
  website/pages/docs/defer-stream.mdx
  website/pages/docs/getting-started.mdx
  website/pages/docs/going-to-production.mdx
  website/pages/docs/graphql-clients.mdx
  website/pages/docs/index.mdx
  website/pages/docs/mutations-and-input-types.mdx
  website/pages/docs/object-types.mdx
  website/pages/docs/oneof-input-objects.mdx
  website/pages/docs/passing-arguments.mdx
  website/pages/docs/running-an-express-graphql-server.mdx
  website/tailwind.config.js
  website/vercel.json
Due: eslint --max-warnings 0 --fix --no-warn-ignored, prettier --write

Add cspell exception (#4335)
  cspell.yml
Due: none

Improve flow of documentation around GraphiQL (#4340)
  website/pages/docs/running-an-express-graphql-server.mdx
Due: none

typofix: removes extra parenthesis from getting started code snippet (#4343)
  website/pages/docs/getting-started.mdx
Due: none

First draft for upgrade guide to v17 (#4310)
  website/pages/_meta.ts
  website/pages/upgrade-guides/v16-v17.mdx
Due: eslint --max-warnings 0 --fix --no-warn-ignored, prettier --write

docs(getting-started): promises current links (#4352)
  website/pages/docs/getting-started.mdx
Due: none

fixed wrong variable name (#4351)
  website/pages/docs/running-an-express-graphql-server.mdx
Due: none

Another update
  .github/workflows/ci.yml
Due: none

fix(coerce-input-value): input object coercion rejects arrays (#4367)
  src/utilities/__tests__/coerceInputValue-test.ts
  src/utilities/coerceInputValue.ts
Due: eslint --max-warnings 0 --fix --no-warn-ignored, prettier --write

feat(execution): add max coercion errors option to execution context (#4366)
  src/execution/__tests__/executor-test.ts
  src/execution/execute.ts
Due: eslint --max-warnings 0 --fix --no-warn-ignored, prettier --write

Correct some syntax (#4369)
  website/pages/docs/object-types.mdx
  website/pages/docs/passing-arguments.mdx
Due: none

Update docs for execution options (#4368)
  website/pages/api-v16/error.mdx
  website/pages/api-v16/execution.mdx
Due: none

docs: Update getting-started.mdx (#4373)
  website/pages/docs/getting-started.mdx
  website/pages/docs/running-an-express-graphql-server.mdx
Due: none

Refactor every code-first example to leverage resolve (#4372)
  website/pages/docs/authentication-and-express-middleware.mdx
  website/pages/docs/basic-types.mdx
  website/pages/docs/constructing-types.mdx
  website/pages/docs/getting-started.mdx
  website/pages/docs/mutations-and-input-types.mdx
  website/pages/docs/object-types.mdx
  website/pages/docs/passing-arguments.mdx
  website/pages/docs/running-an-express-graphql-server.mdx
Due: none

Change to gqlConf 2025 (#4378)
  README.md
  assets/graphql-conf-2025.png
Due: prettier --write

Add missing parenthesis (#4379)
  README.md
Due: prettier --write
