Repository graphql/graphql-js: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 0 --fix, prettier --write

fix tests
  src/type/__tests__/introspection-test.ts
  src/utilities/__tests__/printSchema-test.ts
Due: eslint --max-warnings 0 --fix, prettier --write

add enum syntax
  src/language/__tests__/parser-test.ts
  src/language/__tests__/predicates-test.ts
  src/language/ast.ts
  src/language/kinds_.ts
  src/language/lexer.ts
  src/language/parser.ts
  src/language/predicates.ts
  src/language/printer.ts
  src/language/tokenKind.ts
  src/utilities/__tests__/resolveSchemaCoordinate-test.ts
  src/utilities/resolveSchemaCoordinate.ts
Due: eslint --max-warnings 0 --fix, prettier --write

add ability to check env
  src/__tests__/env-test.ts
  src/index.ts
  src/setEnv.ts
Due: eslint --max-warnings 0 --fix, prettier --write

defer name validation in production to validation step
  src/index.ts
  src/language/__tests__/schema-parser-test.ts
  src/setEnv.ts
  src/type/__tests__/assertHasValidName-test.ts
  src/type/__tests__/definition-test.ts
  src/type/__tests__/directive-test.ts
  src/type/__tests__/validation-test.ts
  src/type/assertHasValidName.ts
  src/type/definition.ts
  src/type/directives.ts
  src/type/index.ts
  src/type/validate.ts
  website/pages/upgrade-guides/v16-v17.mdx
Due: eslint --max-warnings 0 --fix, prettier --write

do not allow env to be reset
  src/__tests__/env-test.ts
  src/env.ts
  src/index.ts
  src/jsutils/__tests__/instanceOf-test.ts
  src/jsutils/instanceOf.ts
  src/setEnv.ts
Due: eslint --max-warnings 0 --fix, prettier --write

move migrate from express graphql guide to graphqlJS docs
  website/pages/docs/_meta.ts
  website/pages/docs/migrating-from-express-graphql.mdx
Due: eslint --max-warnings 0 --fix, prettier --write

Add coordinate field to schema element definitions
  src/index.ts
  src/type/__tests__/definition-test.ts
  src/type/__tests__/directive-test.ts
  src/type/__tests__/enumType-test.ts
  src/type/definition.ts
  src/type/directives.ts
  src/type/index.ts
  src/utilities/__tests__/buildClientSchema-test.ts
Due: eslint --max-warnings 0 --fix, prettier --write

Update package.json
  package.json
Due: prettier --write

Suggestions for federation links
  website/pages/docs/scaling-graphql.mdx
Due: none

feedback
  website/pages/docs/migrating-from-express-graphql.mdx
Due: none

Apply suggestions from code review
  website/pages/docs/migrating-from-express-graphql.mdx
Due: none

resolve feedback
  website/pages/docs/migrating-from-express-graphql.mdx
Due: none

cspell.yml file
  cspell.yml
Due: none

Update benchmark.js
  benchmark/benchmark.js
Due: eslint --max-warnings 0 --fix, prettier --write

Create test to ensure that 'schema' keyword maintained when schema has description
  src/utilities/__tests__/printSchema-test.ts
Due: eslint --max-warnings 0 --fix, prettier --write

Fix navigation
  website/pages/docs/_meta.ts
Due: eslint --max-warnings 0 --fix, prettier --write

Avoid crash when oneOf input variable is not defined
  src/validation/__tests__/ValuesOfCorrectTypeRule-test.ts
  src/validation/rules/ValuesOfCorrectTypeRule.ts
Due: eslint --max-warnings 0 --fix, prettier --write

drop support for old node versions
  .github/workflows/ci.yml
  .node-version
  package-lock.json
  package.json
Due: prettier --write

update lockfile
  package-lock.json
Due: prettier --write

add breaking change to upgrade guide.
  website/pages/upgrade-guides/v16-v17.mdx
Due: none

PR feedback
  src/language/parser.ts
Due: eslint --max-warnings 0 --fix, prettier --write

Remove oneOf validation from values of correct type
  src/validation/__tests__/ValuesOfCorrectTypeRule-test.ts
  src/validation/rules/ValuesOfCorrectTypeRule.ts
Due: eslint --max-warnings 0 --fix, prettier --write

Add test
  src/validation/__tests__/VariablesInAllowedPositionRule-test.ts
  src/validation/rules/ValuesOfCorrectTypeRule.ts
Due: eslint --max-warnings 0 --fix, prettier --write

fix(docs/mutations-and-input-types.mdx): Root being inside of SDL
  website/pages/docs/mutations-and-input-types.mdx
Due: none

pin bun versions
  integrationTests/dev-bun/package.json
  integrationTests/prod-bun/package.json
Due: prettier --write

pin deno versions
  integrationTests/dev-deno/package.json
  integrationTests/prod-deno/package.json
Due: prettier --write

remove types field
  integrationTests/conditions/test.js
  integrationTests/ts/esm.ts
  integrationTests/ts/extensions-test.ts
  integrationTests/ts/package.json
  integrationTests/ts/test.js
  resources/build-npm.ts
  resources/utils.ts
Due: eslint --max-warnings 0 --fix, prettier --write

add support for conditional exports
  cspell.yml
  integrationTests/README.md
  integrationTests/conditions/check.mjs
  integrationTests/conditions/cjs-importer.cjs
  integrationTests/conditions/package.json
  integrationTests/conditions/test.js
  resources/build-npm.ts
  resources/integration-test.ts
  resources/utils.ts
Due: eslint --max-warnings 0 --fix, prettier --write

f
  integrationTests/conditions/test.js
Due: eslint --max-warnings 0 --fix, prettier --write

f
  integrationTests/ts/test.js
Due: eslint --max-warnings 0 --fix, prettier --write

add upgrade guide blurb
  website/pages/upgrade-guides/v16-v17.mdx
Due: none

MD
  website/pages/upgrade-guides/v16-v17.mdx
Due: none

standardize
  integrationTests/ts/test.js
Due: eslint --max-warnings 0 --fix, prettier --write

pin bun and deno versions within integration script
  integrationTests/conditions/test.js
  integrationTests/dev-bun/package.json
  integrationTests/dev-deno/package.json
  integrationTests/prod-bun/package.json
  integrationTests/prod-deno/package.json
  integrationTests/ts/test.js
  resources/integration-test.ts
Due: eslint --max-warnings 0 --fix, prettier --write

Path conditions:
  eslint --max-warnings 0 --fix: any of: *.{js,ts}
  prettier --write: ((any of: *.{js,ts}) or (any of: *.json)) or (any of: *.md)
