Repository graphql/graphql-js: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 0 --rulesdir resources/eslint-internal-rules/ --fix, prettier --write

Split up in v16 API documentation (#4295)
  website/css/globals.css
  website/pages/_meta.ts
  website/pages/api-v16/_meta.ts
  website/pages/api-v16/error.mdx
  website/pages/api-v16/execution.mdx
  website/pages/api-v16/graphql-http.mdx
  website/pages/api-v16/graphql.mdx
  website/pages/api-v16/language.mdx
  website/pages/api-v16/type.mdx
  website/pages/api-v16/utilities.mdx
  website/pages/api-v16/validation.mdx
Due: eslint --max-warnings 0 --rulesdir resources/eslint-internal-rules/ --fix, prettier --write

Fix going to production
  website/pages/going-to-production.mdx
Due: none

upgrade eslint to v9
  .eslintignore
  .eslintrc.cjs
  .lintstagedrc.json
  cspell.yml
  eslint.config.mjs
  integrationTests/node/index.cjs
  integrationTests/node/index.mjs
  integrationTests/webpack/entry-esm.mjs
  package-lock.json
  package.json
  resources/benchmark.ts
  resources/eslint-internal-rules/index.js
  resources/eslint-internal-rules/no-dir-import.js
  resources/eslint-internal-rules/only-ascii.js
  resources/eslint-internal-rules/package.json
  resources/eslint-internal-rules/require-to-string-tag.js
  src/execution/IncrementalGraph.ts
  src/execution/__tests__/simplePubSub.ts
  src/execution/execute.ts
  src/execution/mapAsyncIterable.ts
  src/language/parser.ts
  src/utilities/mapSchemaConfig.ts
  src/utilities/validateInputValue.ts
Due: eslint --max-warnings 0 --rulesdir resources/eslint-internal-rules/ --fix, prettier --write

Provide people with tabs so they can use classes as well (#4284)
  .prettierignore
  website/pages/authentication-and-express-middleware.mdx
  website/pages/basic-types.mdx
  website/pages/constructing-types.mdx
  website/pages/getting-started.mdx
  website/pages/mutations-and-input-types.mdx
  website/pages/object-types.mdx
  website/pages/passing-arguments.mdx
  website/pages/running-an-express-graphql-server.mdx
Due: none

Add note about defer/stream being v17 (#4289)
  website/pages/defer-stream.mdx
Due: none

remove docusaurus machinery from main
  .eslintignore
  .eslintrc.cjs
  .github/workflows/ci.yml
  .gitignore
  .prettierignore
  package-lock.json
  package.json
  resources/build-docusaurus.ts
  website/.babelrc.json
  website/docusaurus.config.cjs
  website/sidebars.cjs
  website/src/css/custom.css
  website/src/pages/index.jsx
  website/src/pages/index.module.css
  website/static/.nojekyll
  website/static/favicon.ico
  website/static/img/logo.svg
Due: eslint --max-warnings 0 --rulesdir resources/eslint-internal-rules/ --fix, prettier --write

Various fixes to docs (#4256)
  website/pages/_app.tsx
  website/pages/authentication-and-express-middleware.mdx
  website/pages/basic-types.mdx
  website/pages/constructing-types.mdx
  website/pages/error.mdx
  website/pages/execution.mdx
  website/pages/going-to-production.mdx
  website/pages/graphql.mdx
  website/pages/language.mdx
  website/pages/mutations-and-input-types.mdx
  website/pages/object-types.mdx
  website/pages/passing-arguments.mdx
  website/pages/running-an-express-graphql-server.mdx
  website/pages/type.mdx
  website/pages/utilities.mdx
  website/pages/validation.mdx
Due: none

Add content from https://github.com/graphql/graphql.github.io/pull/1782 (#4248)
  website/pages/_meta.ts
  website/pages/defer-stream.mdx
  website/pages/going-to-production.mdx
Due: eslint --max-warnings 0 --rulesdir resources/eslint-internal-rules/ --fix, prettier --write

fix: properly type `extensions` in GraphQLFormattedError (#4286)
  src/error/GraphQLError.ts
  src/error/index.ts
  src/index.ts
Due: eslint --max-warnings 0 --rulesdir resources/eslint-internal-rules/ --fix, prettier --write

upgrade rules
  eslint.config.mjs
  src/jsutils/instanceOf.ts
Due: eslint --max-warnings 0 --rulesdir resources/eslint-internal-rules/ --fix, prettier --write

Solve some low hanging fruit in the documentation (#4279)
  website/pages/execution.mdx
  website/pages/graphql.mdx
  website/pages/type.mdx
Due: none

fix eslint errors with website
  eslint.config.mjs
  website/next.config.js
  website/package.json
  website/postcss.config.js
  website/tailwind.config.js
Due: eslint --max-warnings 0 --rulesdir resources/eslint-internal-rules/ --fix, prettier --write

Add overview page and add stackblitz to tutorial (#4283)
  website/pages/_document.tsx
  website/pages/_meta.ts
  website/pages/getting-started.mdx
  website/pages/index.mdx
Due: eslint --max-warnings 0 --rulesdir resources/eslint-internal-rules/ --fix, prettier --write

upgrade deps
  package-lock.json
  package.json
  src/jsutils/AccumulatorMap.ts
  src/validation/ValidationContext.ts
Due: eslint --max-warnings 0 --rulesdir resources/eslint-internal-rules/ --fix, prettier --write

Write about `@oneOf` in the graphql-js documentation (#4290)
  cspell.yml
  website/pages/_meta.ts
  website/pages/oneof-input-objects.mdx
Due: eslint --max-warnings 0 --rulesdir resources/eslint-internal-rules/ --fix, prettier --write

Styling fixes (#4249)
  cspell.yml
  website/docs/tutorials/authentication-and-express-middleware.md
  website/docs/tutorials/basic-types.md
  website/docs/tutorials/constructing-types.md
  website/docs/tutorials/express-graphql.md
  website/docs/tutorials/going-to-production.md
  website/docs/tutorials/graphql-clients.md
  website/docs/tutorials/hello.png
  website/docs/tutorials/index.md
  website/docs/tutorials/mutations-and-input-types.md
  website/docs/tutorials/object-types.md
  website/docs/tutorials/passing-arguments.md
  website/docs/tutorials/running-an-express-graphql-server.md
  website/package-lock.json
  website/package.json
  website/pages/_app.tsx
  website/pages/_document.tsx
  website/pages/index.mdx
  website/postcss.config.js
  website/tailwind.config.js
  website/theme.config.tsx
Due: eslint --max-warnings 0 --rulesdir resources/eslint-internal-rules/ --fix, prettier --write

Deploy to 'deno' branch
  error/GraphQLError.ts
  error/index.ts
  execution/IncrementalGraph.ts
  execution/execute.ts
  execution/mapAsyncIterable.ts
  index.ts
  jsutils/AccumulatorMap.ts
  jsutils/instanceOf.ts
  language/parser.ts
  utilities/mapSchemaConfig.ts
  utilities/validateInputValue.ts
  validation/ValidationContext.ts
Due: eslint --max-warnings 0 --rulesdir resources/eslint-internal-rules/ --fix, prettier --write

Add redirect
  website/vercel.json
Due: prettier --write

Add redirect for /api (#4327)
  website/vercel.json
Due: prettier --write

doc: add usage trend
  README.md
Due: prettier --write

fix sidebar instability
  website/pages/_meta.ts
Due: eslint --max-warnings 0 --rulesdir resources/eslint-internal-rules/ --fix, prettier --write

chore: update to newest codspeed version, remove patch package
  package-lock.json
  package.json
Due: prettier --write

chore: update to newest codspeed version, remove patch package
  patches/@codspeed+core+3.1.1.patch
  patches/@codspeed+vitest-plugin+3.1.1.patch
Due: none

fix sidebar
  .idea/.gitignore
  .idea/graphql-js.iml
  .idea/inspectionProfiles/Project_Default.xml
  .idea/misc.xml
  .idea/modules.xml
  .idea/prettier.xml
  .idea/vcs.xml
  website/next.config.mjs
  website/pages/_meta.ts
  website/pages/docs/_meta.ts
  website/pages/docs/authentication-and-express-middleware.mdx
  website/pages/docs/basic-types.mdx
  website/pages/docs/constructing-types.mdx
  website/pages/docs/defer-stream.mdx
  website/pages/docs/getting-started.mdx
  website/pages/docs/going-to-production.mdx
  website/pages/docs/graphql-clients.mdx
  website/pages/docs/index.mdx
  website/pages/docs/mutations-and-input-types.mdx
  website/pages/docs/object-types.mdx
  website/pages/docs/oneof-input-objects.mdx
  website/pages/docs/passing-arguments.mdx
  website/pages/docs/running-an-express-graphql-server.mdx
  website/tailwind.config.js
  website/vercel.json
Due: eslint --max-warnings 0 --rulesdir resources/eslint-internal-rules/ --fix, prettier --write

rm .idea
  .idea/.gitignore
  .idea/graphql-js.iml
  .idea/inspectionProfiles/Project_Default.xml
  .idea/misc.xml
  .idea/modules.xml
  .idea/prettier.xml
  .idea/vcs.xml
Due: none

fix links
  website/pages/docs/basic-types.mdx
  website/pages/docs/getting-started.mdx
  website/pages/docs/graphql-clients.mdx
  website/pages/docs/mutations-and-input-types.mdx
  website/pages/docs/object-types.mdx
  website/pages/docs/passing-arguments.mdx
  website/pages/docs/running-an-express-graphql-server.mdx
Due: none

fix links on index page
  website/pages/docs/index.mdx
Due: none

add example for type system directive arguments
  src/validation/__tests__/ValuesOfCorrectTypeRule-test.ts
Due: eslint --max-warnings 0 --rulesdir resources/eslint-internal-rules/ --fix, prettier --write

Remove type cast
  website/next.config.mjs
Due: none

Standards
  website/next.config.mjs
Due: none

Update website/pages/_meta.ts
  website/pages/_meta.ts
Due: eslint --max-warnings 0 --rulesdir resources/eslint-internal-rules/ --fix, prettier --write

fix sidebar for documentation and `/api-v16` (#4331)
  website/next.config.mjs
  website/pages/_meta.ts
  website/pages/docs/_meta.ts
  website/pages/docs/authentication-and-express-middleware.mdx
  website/pages/docs/basic-types.mdx
  website/pages/docs/constructing-types.mdx
  website/pages/docs/defer-stream.mdx
  website/pages/docs/getting-started.mdx
  website/pages/docs/going-to-production.mdx
  website/pages/docs/graphql-clients.mdx
  website/pages/docs/index.mdx
  website/pages/docs/mutations-and-input-types.mdx
  website/pages/docs/object-types.mdx
  website/pages/docs/oneof-input-objects.mdx
  website/pages/docs/passing-arguments.mdx
  website/pages/docs/running-an-express-graphql-server.mdx
  website/tailwind.config.js
  website/vercel.json
Due: eslint --max-warnings 0 --rulesdir resources/eslint-internal-rules/ --fix, prettier --write

Add cspell exception
  cspell.yml
Due: none

Add cspell exception (#4335)
  cspell.yml
Due: none

Increase print/visit performance (#4312)
  benchmark/fixtures.js
  benchmark/kitchen-sink.graphql
  benchmark/printer-benchmark.js
  src/language/visitor.ts
Due: eslint --max-warnings 0 --rulesdir resources/eslint-internal-rules/ --fix, prettier --write

Implement first version
  src/__tests__/starWarsIntrospection-test.ts
  src/execution/__tests__/executor-test.ts
  src/execution/__tests__/semantic-nullability-test.ts
  src/execution/execute.ts
  src/graphql.ts
  src/index.ts
  src/language/__tests__/parser-test.ts
  src/language/__tests__/predicates-test.ts
  src/language/__tests__/schema-printer-test.ts
  src/language/ast.ts
  src/language/index.ts
  src/language/kinds.ts
  src/language/lexer.ts
  src/language/parser.ts
  src/language/predicates.ts
  src/language/printer.ts
  src/language/tokenKind.ts
  src/type/__tests__/introspection-test.ts
  src/type/__tests__/predicate-test.ts
  src/type/__tests__/schema-test.ts
  src/type/definition.ts
  src/type/index.ts
  src/type/introspection.ts
  src/utilities/__tests__/printSchema-test.ts
  src/utilities/buildClientSchema.ts
  src/utilities/extendSchema.ts
  src/utilities/findBreakingChanges.ts
  src/utilities/getIntrospectionQuery.ts
  src/utilities/index.ts
  src/utilities/lexicographicSortSchema.ts
  src/utilities/typeComparators.ts
  src/utilities/typeFromAST.ts
  src/validation/rules/OverlappingFieldsCanBeMergedRule.ts
Due: eslint --max-warnings 0 --rulesdir resources/eslint-internal-rules/ --fix, prettier --write

Path conditions:
  eslint --max-warnings 0 --rulesdir resources/eslint-internal-rules/ --fix: any of: *.{js,ts}
  prettier --write: ((any of: *.{js,ts}) or (any of: *.json)) or (any of: *.md)
