Repository graphql/graphql-js: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 0 --rulesdir resources/eslint-internal-rules/ --fix, prettier --write

Add KnownOperationTypes rule
  src/index.ts
  src/validation/__tests__/KnownOperationTypesRules-test.ts
  src/validation/index.ts
  src/validation/rules/KnownOperationTypesRule.ts
  src/validation/specifiedRules.ts
Due: eslint --max-warnings 0 --rulesdir resources/eslint-internal-rules/ --fix, prettier --write

Split up website and main project
  .eslintignore
  .github/workflows/ci.yml
  .gitignore
  package-lock.json
  package.json
  website/next.config.mjs
  website/package-lock.json
  website/package.json
  website/tsconfig.json
Due: prettier --write

experiment: add codspeed using vitest
  .github/workflows/codspeed.yml
  package-lock.json
  package.json
  src/__benchmarks__/GraphQLSchema-benchmark.ts
  src/__benchmarks__/buildASTSchema.bench.ts
  src/__benchmarks__/buildClientSchema.bench.ts
  src/__benchmarks__/fixtures.ts
  src/__benchmarks__/github-schema.graphql
  src/__benchmarks__/github-schema.json
  src/__benchmarks__/introspectionFromSchema-benchmark.ts
  src/__benchmarks__/list.bench.ts
  src/__benchmarks__/parse.bench.ts
  src/__benchmarks__/repeatedFields.bench.ts
  src/__benchmarks__/validate.bench.ts
  src/__benchmarks__/visitor.bench.ts
  vitest.config.ts
Due: eslint --max-warnings 0 --rulesdir resources/eslint-internal-rules/ --fix, prettier --write

chore: lint
  resources/codspeed-benchmarks.mjs
  src/__benchmarks__/GraphQLSchema-benchmark.ts
  src/__benchmarks__/buildASTSchema.bench.ts
  src/__benchmarks__/buildClientSchema.bench.ts
  src/__benchmarks__/introspectionFromSchema-benchmark.ts
  src/__benchmarks__/list.bench.ts
  src/__benchmarks__/parse.bench.ts
  src/__benchmarks__/repeatedFields.bench.ts
  src/__benchmarks__/validate.bench.ts
  src/__benchmarks__/visitor.bench.ts
Due: eslint --max-warnings 0 --rulesdir resources/eslint-internal-rules/ --fix, prettier --write

fix: revert import broken by lint
  src/__benchmarks__/visitor.bench.ts
Due: eslint --max-warnings 0 --rulesdir resources/eslint-internal-rules/ --fix, prettier --write

experiment: try out patching
  package-lock.json
  package.json
  patches/@codspeed+core+3.1.0.patch
Due: prettier --write

chore: enable env: CODSPEED_FORCE_OPTIMIZATION: true
  .github/workflows/codspeed.yml
Due: none

trigger codspeed
  README.md
Due: prettier --write

Apply suggestions from code review
  src/execution/__tests__/variables-test.ts
  src/utilities/coerceInputValue.ts
Due: eslint --max-warnings 0 --rulesdir resources/eslint-internal-rules/ --fix, prettier --write

fix: adjust ci & lint to new benchmarks
  .c8rc.json
  .eslintignore
  .eslintrc.cjs
  .github/workflows/ci.yml
  resources/benchmark-tinybench.ts
  src/__benchmarks__/list.bench.ts
  src/__benchmarks__/visitor.bench.ts
Due: eslint --max-warnings 0 --rulesdir resources/eslint-internal-rules/ --fix, prettier --write

refactor: remove types/chai to prevent type conflicts. they now come bundled with vite
  package-lock.json
  package.json
  tsconfig.json
Due: prettier --write

chore: prettier
  .github/workflows/codspeed.yml
  README.md
  src/__benchmarks__/GraphQLSchema-benchmark.ts
  src/__benchmarks__/buildASTSchema.bench.ts
  src/__benchmarks__/buildClientSchema.bench.ts
  src/__benchmarks__/introspectionFromSchema-benchmark.ts
  src/__benchmarks__/list.bench.ts
  src/__benchmarks__/parse.bench.ts
  src/__benchmarks__/repeatedFields.bench.ts
  src/__benchmarks__/validate.bench.ts
  src/__benchmarks__/visitor.bench.ts
  vitest.config.ts
Due: eslint --max-warnings 0 --rulesdir resources/eslint-internal-rules/ --fix, prettier --write

fix: commonly ignored files
  .github/workflows/ci.yml
Due: none

chore: prettier
  .github/workflows/ci.yml
  README.md
Due: prettier --write

chore: add codspeed to spellcheck
  cspell.yml
Due: none

chore: remove unused codspeed command
  package.json
Due: prettier --write

rename serialize and parseValue methods
  integrationTests/ts/kitchenSink-test.ts
  src/execution/__tests__/executor-test.ts
  src/execution/__tests__/variables-test.ts
  src/execution/execute.ts
  src/index.ts
  src/type/__tests__/definition-test.ts
  src/type/__tests__/scalars-test.ts
  src/type/definition.ts
  src/type/index.ts
  src/type/scalars.ts
  src/utilities/__tests__/astFromValue-test.ts
  src/utilities/__tests__/coerceInputValue-test.ts
  src/utilities/astFromValue.ts
  src/utilities/buildClientSchema.ts
  src/utilities/coerceInputValue.ts
  src/validation/__tests__/ValuesOfCorrectTypeRule-test.ts
Due: eslint --max-warnings 0 --rulesdir resources/eslint-internal-rules/ --fix, prettier --write

add permanent flag for schema configuration property assumeValid
  src/type/__tests__/schema-test.ts
  src/type/schema.ts
Due: eslint --max-warnings 0 --rulesdir resources/eslint-internal-rules/ --fix, prettier --write

rename serialize and parseValue methods (#4241)
  integrationTests/ts/kitchenSink-test.ts
  src/execution/__tests__/executor-test.ts
  src/execution/__tests__/variables-test.ts
  src/execution/execute.ts
  src/index.ts
  src/type/__tests__/definition-test.ts
  src/type/__tests__/scalars-test.ts
  src/type/definition.ts
  src/type/index.ts
  src/type/scalars.ts
  src/utilities/__tests__/astFromValue-test.ts
  src/utilities/__tests__/coerceInputValue-test.ts
  src/utilities/astFromValue.ts
  src/utilities/buildClientSchema.ts
  src/utilities/coerceInputValue.ts
  src/validation/__tests__/ValuesOfCorrectTypeRule-test.ts
Due: eslint --max-warnings 0 --rulesdir resources/eslint-internal-rules/ --fix, prettier --write

Deploy to 'deno' branch
  execution/execute.ts
  index.ts
  type/definition.ts
  type/index.ts
  type/scalars.ts
  utilities/astFromValue.ts
  utilities/buildClientSchema.ts
  utilities/coerceInputValue.ts
Due: eslint --max-warnings 0 --rulesdir resources/eslint-internal-rules/ --fix, prettier --write

Deploy to 'npm' branch
  execution/execute.js
  execution/execute.js.map
  execution/execute.mjs
  execution/execute.mjs.map
  index.d.ts
  index.js.map
  index.mjs.map
  type/definition.d.ts
  type/definition.js
  type/definition.js.map
  type/definition.mjs
  type/definition.mjs.map
  type/index.d.ts
  type/index.js.map
  type/index.mjs.map
  type/scalars.js
  type/scalars.js.map
  type/scalars.mjs
  type/scalars.mjs.map
  utilities/astFromValue.js
  utilities/astFromValue.js.map
  utilities/astFromValue.mjs
  utilities/astFromValue.mjs.map
  utilities/buildClientSchema.d.ts
  utilities/buildClientSchema.js
  utilities/buildClientSchema.js.map
  utilities/buildClientSchema.mjs
  utilities/buildClientSchema.mjs.map
  utilities/coerceInputValue.js
  utilities/coerceInputValue.js.map
  utilities/coerceInputValue.mjs
  utilities/coerceInputValue.mjs.map
Due: eslint --max-warnings 0 --rulesdir resources/eslint-internal-rules/ --fix, prettier --write

add permanent flag for schema configuration property assumeValid (#4244)
  src/type/__tests__/schema-test.ts
  src/type/schema.ts
Due: eslint --max-warnings 0 --rulesdir resources/eslint-internal-rules/ --fix, prettier --write

Deploy to 'npm' branch
  type/schema.d.ts
  type/schema.js
  type/schema.js.map
  type/schema.mjs
  type/schema.mjs.map
Due: eslint --max-warnings 0 --rulesdir resources/eslint-internal-rules/ --fix, prettier --write

Deploy to 'deno' branch
  type/schema.ts
Due: eslint --max-warnings 0 --rulesdir resources/eslint-internal-rules/ --fix, prettier --write

Input Value Validation
  src/execution/__tests__/nonnull-test.ts
  src/execution/__tests__/oneof-test.ts
  src/execution/__tests__/subscribe-test.ts
  src/execution/__tests__/variables-test.ts
  src/execution/values.ts
  src/index.ts
  src/jsutils/printPathArray.ts
  src/type/__tests__/enumType-test.ts
  src/type/definition.ts
  src/utilities/__tests__/coerceInputValue-test.ts
  src/utilities/__tests__/validateInputValue-test.ts
  src/utilities/coerceInputValue.ts
  src/utilities/index.ts
  src/utilities/validateInputValue.ts
  src/validation/__tests__/ValuesOfCorrectTypeRule-test.ts
  src/validation/rules/ValuesOfCorrectTypeRule.ts
Due: eslint --max-warnings 0 --rulesdir resources/eslint-internal-rules/ --fix, prettier --write

Input Value Validation (#3813)
  src/execution/__tests__/nonnull-test.ts
  src/execution/__tests__/oneof-test.ts
  src/execution/__tests__/subscribe-test.ts
  src/execution/__tests__/variables-test.ts
  src/execution/values.ts
  src/index.ts
  src/jsutils/printPathArray.ts
  src/type/__tests__/enumType-test.ts
  src/type/definition.ts
  src/utilities/__tests__/coerceInputValue-test.ts
  src/utilities/__tests__/validateInputValue-test.ts
  src/utilities/coerceInputValue.ts
  src/utilities/index.ts
  src/utilities/validateInputValue.ts
  src/validation/__tests__/ValuesOfCorrectTypeRule-test.ts
  src/validation/rules/ValuesOfCorrectTypeRule.ts
Due: eslint --max-warnings 0 --rulesdir resources/eslint-internal-rules/ --fix, prettier --write

RFC: Default value validation & coercion
  cspell.yml
  src/execution/__tests__/variables-test.ts
  src/index.ts
  src/type/__tests__/enumType-test.ts
  src/type/__tests__/validation-test.ts
  src/type/introspection.ts
  src/type/validate.ts
  src/utilities/__tests__/astFromValue-test.ts
  src/utilities/astFromValue.ts
  src/utilities/coerceInputValue.ts
  src/utilities/findBreakingChanges.ts
  src/utilities/index.ts
  src/utilities/printSchema.ts
Due: eslint --max-warnings 0 --rulesdir resources/eslint-internal-rules/ --fix, prettier --write

Deploy to 'deno' branch
  execution/values.ts
  index.ts
  jsutils/printPathArray.ts
  type/definition.ts
  utilities/coerceInputValue.ts
  utilities/index.ts
  utilities/validateInputValue.ts
  validation/rules/ValuesOfCorrectTypeRule.ts
Due: eslint --max-warnings 0 --rulesdir resources/eslint-internal-rules/ --fix, prettier --write

Deploy to 'npm' branch
  execution/values.js
  execution/values.js.map
  execution/values.mjs
  execution/values.mjs.map
  index.d.ts
  index.js
  index.js.map
  index.mjs
  index.mjs.map
  jsutils/printPathArray.js
  jsutils/printPathArray.js.map
  jsutils/printPathArray.mjs
  jsutils/printPathArray.mjs.map
  type/definition.d.ts
  type/definition.js.map
  type/definition.mjs.map
  utilities/coerceInputValue.d.ts
  utilities/coerceInputValue.js
  utilities/coerceInputValue.js.map
  utilities/coerceInputValue.mjs
  utilities/coerceInputValue.mjs.map
  utilities/index.d.ts
  utilities/index.js
  utilities/index.js.map
  utilities/index.mjs
  utilities/index.mjs.map
  utilities/validateInputValue.d.ts
  utilities/validateInputValue.js
  utilities/validateInputValue.js.map
  utilities/validateInputValue.mjs
  utilities/validateInputValue.mjs.map
  validation/rules/ValuesOfCorrectTypeRule.js
  validation/rules/ValuesOfCorrectTypeRule.js.map
  validation/rules/ValuesOfCorrectTypeRule.mjs
  validation/rules/ValuesOfCorrectTypeRule.mjs.map
Due: eslint --max-warnings 0 --rulesdir resources/eslint-internal-rules/ --fix, prettier --write

fix: rename files
  src/__benchmarks__/GraphQLSchema.bench.ts
  src/__benchmarks__/introspectionFromSchema.bench.ts
Due: eslint --max-warnings 0 --rulesdir resources/eslint-internal-rules/ --fix, prettier --write

Alternative approach for findSchemaChanges (#4235)
  src/index.ts
  src/utilities/__tests__/findBreakingChanges-test.ts
  src/utilities/__tests__/findSchemaChanges-test.ts
  src/utilities/findSchemaChanges.ts
  src/utilities/index.ts
Due: eslint --max-warnings 0 --rulesdir resources/eslint-internal-rules/ --fix, prettier --write

Deploy to 'npm' branch
  index.d.ts
  index.js
  index.js.map
  index.mjs
  index.mjs.map
  utilities/findBreakingChanges.js.map
  utilities/findBreakingChanges.mjs.map
  utilities/findSchemaChanges.d.ts
  utilities/findSchemaChanges.js
  utilities/findSchemaChanges.js.map
  utilities/findSchemaChanges.mjs
  utilities/findSchemaChanges.mjs.map
  utilities/index.d.ts
  utilities/index.js
  utilities/index.js.map
  utilities/index.mjs
  utilities/index.mjs.map
Due: eslint --max-warnings 0 --rulesdir resources/eslint-internal-rules/ --fix, prettier --write

Deploy to 'deno' branch
  index.ts
  utilities/findSchemaChanges.ts
  utilities/index.ts
Due: eslint --max-warnings 0 --rulesdir resources/eslint-internal-rules/ --fix, prettier --write

Create validation
  src/validation/src/validation
Due: none

Split up website and main project
  .eslintignore
  .eslintrc.yml
  .github/workflows/ci.yml
  .gitignore
  .prettierignore
  package-lock.json
  package.json
  website/.eslintignore
  website/css/globals.css
  website/docs/tutorials/authentication-and-express-middleware.md
  website/docs/tutorials/basic-types.md
  website/docs/tutorials/constructing-types.md
  website/docs/tutorials/express-graphql.md
  website/docs/tutorials/graphql-clients.md
  website/docs/tutorials/index.md
  website/docs/tutorials/mutations-and-input-types.md
  website/docs/tutorials/object-types.md
  website/docs/tutorials/passing-arguments.md
  website/docs/tutorials/running-an-express-graphql-server.md
  website/next.config.mjs
  website/package-lock.json
  website/package.json
  website/pages/_app.tsx
  website/pages/basic-types.mdx
  website/pages/graphql-clients.mdx
  website/pages/graphql-http.mdx
  website/pages/graphql.mdx
  website/pages/index.mdx
  website/pages/mutations-and-input-types.mdx
  website/pages/object-types.mdx
  website/pages/passing-arguments.mdx
  website/pages/running-an-express-graphql-server.mdx
  website/theme.config.tsx
  website/tsconfig.json
Due: prettier --write

Remove old code
  .github/workflows/ci.yml
  cspell.yml
  docs-old/APIReference-Errors.md
  docs-old/APIReference-Execution.md
  docs-old/APIReference-GraphQL.md
  docs-old/APIReference-Language.md
  docs-old/APIReference-TypeSystem.md
  docs-old/APIReference-Utilities.md
  docs-old/APIReference-Validation.md
Due: prettier --write

Add content from https://github.com/graphql/graphql.github.io/pull/1782
  website/pages/_meta.ts
  website/pages/defer-stream.mdx
  website/pages/going-to-production.mdx
Due: eslint --max-warnings 0 --rulesdir resources/eslint-internal-rules/ --fix, prettier --write

Add content from https://github.com/graphql/graphql.github.io/pull/1782 (#4248)
  website/pages/_meta.ts
  website/pages/defer-stream.mdx
  website/pages/going-to-production.mdx
Due: eslint --max-warnings 0 --rulesdir resources/eslint-internal-rules/ --fix, prettier --write

Path conditions:
  eslint --max-warnings 0 --rulesdir resources/eslint-internal-rules/ --fix: any of: *.{js,ts}
  prettier --write: ((any of: *.{js,ts}) or (any of: *.json)) or (any of: *.md)
