Repository graphql/graphql-js: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 0 --fix, prettier --write

docs: refresh website with broader execution/tracing update (#4794)
  website/pages/api-v17/execution.mdx
  website/pages/api-v17/graphql.mdx
Due: none

docs: update API (#4782)
  website/pages/api-v17/error.mdx
  website/pages/api-v17/execution.mdx
Due: none

docs: use api docs generated from inline jsdoc comments (#4750)
  cspell.yml
  website/components/ApiCode.tsx
  website/css/globals.css
  website/generate-api.js
  website/package-lock.json
  website/package.json
  website/pages/_app.tsx
  website/pages/_meta.ts
  website/pages/api-v16/execution.mdx
  website/pages/api-v16/execution/_meta.ts
  website/pages/api-v16/graphql-http.mdx
  website/pages/api-v16/graphql.mdx
  website/pages/api-v16/graphql/_meta.ts
  website/pages/api-v16/language/_meta.ts
  website/pages/api-v16/subscription.mdx
  website/pages/api-v16/type/_meta.ts
  website/pages/api-v16/utilities/_meta.ts
  website/pages/api-v16/validation/_meta.ts
  website/pages/api-v17/_meta.ts
  website/pages/api-v17/error.mdx
  website/pages/api-v17/execution.mdx
  website/pages/api-v17/execution/_meta.ts
  website/pages/api-v17/graphql.mdx
  website/pages/api-v17/graphql/_meta.ts
  website/pages/api-v17/language.mdx
  website/pages/api-v17/language/_meta.ts
  website/pages/api-v17/type.mdx
  website/pages/api-v17/type/_meta.ts
  website/pages/api-v17/utilities.mdx
  website/pages/api-v17/utilities/_meta.ts
  website/pages/api-v17/validation.mdx
  website/pages/api-v17/validation/_meta.ts
  website/pages/docs/_meta.ts
  website/pages/docs/graphql-http.mdx
  website/theme.config.tsx
  website/typedoc-api.json
Due: eslint --max-warnings 0 --fix, prettier --write

docs: add Node.js tracing channels guide (#4788)
  website/pages/docs/_meta.ts
  website/pages/docs/tracing-channels.mdx
  website/pages/upgrade-guides/v16-v17.mdx
Due: eslint --max-warnings 0 --fix, prettier --write

docs: fix Post_body example variable (#4767)
  website/pages/docs/going-to-production.mdx
Due: none

docs: remove extra asterisks from single line jsdoc comments (#4792)
  website/generate-api.js
  website/pages/api-v17/graphql.mdx
Due: eslint --max-warnings 0 --fix, prettier --write

docs: increase spacing in embedded TOC
  website/css/globals.css
Due: none

docs: update documentation for v17 release candidate (#4787)
  website/pages/api-v17/execution.mdx
  website/pages/api-v17/graphql.mdx
  website/pages/api-v17/graphql/_meta.ts
  website/pages/api-v17/validation.mdx
  website/pages/docs/defer-stream.mdx
  website/pages/docs/experimental-specification-features.mdx
  website/pages/docs/fragment-arguments.mdx
  website/pages/docs/getting-started.mdx
  website/pages/docs/going-to-production.mdx
  website/pages/docs/graphql-errors.mdx
  website/pages/docs/index.mdx
  website/pages/upgrade-guides/v16-v17.mdx
Due: eslint --max-warnings 0 --fix, prettier --write

ci: deploy dist branches from 17.x.x
  .github/workflows/push.yml
Due: none

ci: use push sha in dist branch commits
  .github/workflows/push.yml
Due: none

ci: update GitHub Actions versions
  .github/workflows/ci.yml
  .github/workflows/deploy-artifact-as-branch.yml
  .github/workflows/pull_request.yml
  .github/workflows/pull_request_opened.yml
  .github/workflows/release.yml
Due: none

feat: add validateFullSchema and assertValidFullSchema
  src/index.ts
  src/type/__tests__/validation-test.ts
  src/type/index.ts
  src/type/schema.ts
  src/type/validate.ts
Due: eslint --max-warnings 0 --fix, prettier --write

Improve error reporting for union member types
  src/type/__tests__/validation-test.ts
  src/type/validate.ts
Due: eslint --max-warnings 0 --fix, prettier --write

refactor: mark full schema validation as experimental
  src/index.ts
  src/type/__tests__/validation-test.ts
  src/type/index.ts
  src/type/validate.ts
Due: eslint --max-warnings 0 --fix, prettier --write

fix: raise request error on invalid fragment variables
  src/execution/__tests__/variables-test.ts
  src/execution/execute.ts
  src/utilities/__tests__/replaceVariables-test.ts
Due: eslint --max-warnings 0 --fix, prettier --write

docs: clarify extension field comments
  src/type/definition.ts
  src/type/directives.ts
  src/type/schema.ts
Due: eslint --max-warnings 0 --fix, prettier --write

fix: apply specifiedBy from scalar extensions
  src/utilities/__tests__/extendSchema-test.ts
  src/utilities/extendSchema.ts
Due: eslint --max-warnings 0 --fix, prettier --write

add test coverage to analogous case with directives on directives
  src/utilities/__tests__/extendSchema-test.ts
Due: eslint --max-warnings 0 --fix, prettier --write

chore(release): v16.14.2
  package-lock.json
  package.json
  src/version.ts
Due: eslint --max-warnings 0 --fix, prettier --write

docs: publish fixed extensions comments
  website/pages/api-v16/type.mdx
  website/pages/api-v17/type.mdx
Due: none

internal: update frontmatter
  .github/CONTRIBUTING.md
  README.md
  assets/graphql-conf-2025.png
  website/theme.config.tsx
Due: prettier --write

intenral: fix ci badge
  README.md
Due: prettier --write

internal: use prettier for non-generated website files
  .prettierignore
  website/pages/docs/advanced-custom-scalars.mdx
  website/pages/docs/advanced-execution-pipelines.mdx
  website/pages/docs/authentication-and-express-middleware.mdx
  website/pages/docs/authorization-strategies.mdx
  website/pages/docs/basic-types.mdx
  website/pages/docs/caching-strategies.mdx
  website/pages/docs/constructing-types.mdx
  website/pages/docs/cursor-based-pagination.mdx
  website/pages/docs/custom-scalars.mdx
  website/pages/docs/defer-stream.mdx
  website/pages/docs/development-mode.mdx
  website/pages/docs/execution-hooks.mdx
  website/pages/docs/getting-started.mdx
  website/pages/docs/going-to-production.mdx
  website/pages/docs/graphql-errors.mdx
  website/pages/docs/graphql-http.mdx
  website/pages/docs/migrating-from-express-graphql.mdx
  website/pages/docs/mutations-and-input-types.mdx
  website/pages/docs/n1-dataloader.mdx
  website/pages/docs/nullability.mdx
  website/pages/docs/object-types.mdx
  website/pages/docs/oneof-input-objects.mdx
  website/pages/docs/operation-complexity-controls.mdx
  website/pages/docs/passing-arguments.mdx
  website/pages/docs/resolver-anatomy.mdx
  website/pages/docs/running-an-express-graphql-server.mdx
  website/pages/docs/scaling-graphql.mdx
  website/pages/docs/schema-evolution.mdx
  website/pages/docs/testing-approaches.mdx
  website/pages/docs/testing-best-practices.mdx
  website/pages/docs/testing-graphql-servers.mdx
  website/pages/docs/testing-operations.mdx
  website/pages/docs/testing-resolvers.mdx
  website/pages/docs/tracing-channels.mdx
  website/pages/docs/type-generation.mdx
  website/pages/docs/using-directives.mdx
  website/pages/upgrade-guides/v14-v15.mdx
  website/pages/upgrade-guides/v15-v16.mdx
  website/pages/upgrade-guides/v16-v17.mdx
Due: none

internal: lint mdx tabs as prettier workaround
  eslint.config.mjs
  resources/eslint-internal-rules/index.js
  resources/eslint-internal-rules/mdx-tabs-spacing.js
Due: eslint --max-warnings 0 --fix, prettier --write

sp
  resources/eslint-internal-rules/mdx-tabs-spacing.js
Due: eslint --max-warnings 0 --fix, prettier --write

internal: add prettier:examples to lint-staged
  .lintstagedrc.json
  resources/prettier-examples.ts
Due: eslint --max-warnings 0 --fix, prettier --write

Subscriptions docs suggestions
  website/pages/docs/subscriptions.mdx
Due: none

docs: use in-memory subscription pubsub
  website/pages/docs/subscriptions.mdx
Due: none

docs: add SSE transport perspective
  website/pages/docs/subscriptions.mdx
Due: none

docs: fix indentations
  src/language/parser.ts
  website/pages/docs/constructing-types.mdx
  website/pages/docs/mutations-and-input-types.mdx
  website/pages/docs/object-types.mdx
Due: eslint --max-warnings 0 --fix, prettier --write

Detect uninhabitable input types formed by OneOf and non-OneOf cycles
  src/type/__tests__/validation-test.ts
  src/type/validate.ts
Due: eslint --max-warnings 0 --fix, prettier --write

simplify type unwrapping and add test to satisfy coverage checker
  src/type/__tests__/validation-test.ts
  src/type/validate.ts
Due: eslint --max-warnings 0 --fix, prettier --write

check oneof inhabitability
  src/type/__tests__/validation-test.ts
  src/type/validate.ts
Due: eslint --max-warnings 0 --fix, prettier --write

perf and style
  src/type/__tests__/validation-test.ts
  src/type/validate.ts
Due: eslint --max-warnings 0 --fix, prettier --write

error reporting updates
  src/type/__tests__/validation-test.ts
  src/type/validate.ts
Due: eslint --max-warnings 0 --fix, prettier --write

remove unnecessary Maybe
  src/type/validate.ts
Due: eslint --max-warnings 0 --fix, prettier --write

what's normal
  src/type/__tests__/validation-test.ts
  src/type/validate.ts
Due: eslint --max-warnings 0 --fix, prettier --write

Tighten input object cycle cache baseline
  src/__testUtils__/__tests__/spyOn-test.ts
  src/__testUtils__/spyOn.ts
  src/type/__tests__/validation-test.ts
Due: eslint --max-warnings 0 --fix, prettier --write

Path conditions:
  eslint --max-warnings 0 --fix: any of: *.{js,ts}
  prettier --write: ((any of: *.{js,ts}) or (any of: *.json)) or (any of: *.md)
