Repository graphql/graphql-js: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 0 --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,ts}": ["eslint --max-warnings 0 --fix", "prettier --write"],
  "*.json": "prettier --write",
  "*.md": "prettier --write"
}

Fix error deep equality tests
  src/language/__tests__/parser-test.ts
Due: eslint --max-warnings 0 --fix, prettier --write

Minor validation tweaks from review
  src/type/validate.ts
Due: eslint --max-warnings 0 --fix, prettier --write

add guide on caching strats
  website/pages/docs/_meta.ts
  website/pages/docs/caching-strategies.mdx
Due: eslint --max-warnings 0 --fix, prettier --write

spellcheck
  cspell.yml
Due: none

Add cspell exception (#4335)
  cspell.yml
Due: none

fix sidebar for documentation and `/api-v16` (#4331)
  website/next.config.js
  website/pages/_meta.ts
  website/pages/docs/_meta.ts
  website/pages/docs/authentication-and-express-middleware.mdx
  website/pages/docs/basic-types.mdx
  website/pages/docs/constructing-types.mdx
  website/pages/docs/defer-stream.mdx
  website/pages/docs/getting-started.mdx
  website/pages/docs/going-to-production.mdx
  website/pages/docs/graphql-clients.mdx
  website/pages/docs/index.mdx
  website/pages/docs/mutations-and-input-types.mdx
  website/pages/docs/object-types.mdx
  website/pages/docs/oneof-input-objects.mdx
  website/pages/docs/passing-arguments.mdx
  website/pages/docs/running-an-express-graphql-server.mdx
  website/tailwind.config.js
  website/vercel.json
Due: eslint --max-warnings 0 --fix, prettier --write

Add redirect for /api (#4327)
  website/vercel.json
Due: prettier --write

Increase print/visit performance (#4312)
  benchmark/fixtures.js
  benchmark/kitchen-sink.graphql
  benchmark/printer-benchmark.js
  src/language/visitor.ts
Due: eslint --max-warnings 0 --fix, prettier --write

Improve flow of documentation around GraphiQL (#4340)
  website/pages/docs/running-an-express-graphql-server.mdx
Due: none

First draft for upgrade guide to v17 (#4310)
  website/pages/_meta.ts
  website/pages/upgrade-guides/v16-v17.mdx
Due: eslint --max-warnings 0 --fix, prettier --write

typofix: removes extra parenthesis from getting started code snippet (#4343)
  website/pages/docs/getting-started.mdx
Due: none

fixed wrong variable name (#4351)
  website/pages/docs/running-an-express-graphql-server.mdx
Due: none

docs(getting-started): promises current links (#4352)
  website/pages/docs/getting-started.mdx
Due: none

fix(coerce-input-value): input object coercion rejects arrays (#4367)
  src/utilities/__tests__/coerceInputValue-test.ts
  src/utilities/__tests__/validateInputValue-test.ts
  src/utilities/coerceInputValue.ts
  src/utilities/validateInputValue.ts
Due: eslint --max-warnings 0 --fix, prettier --write

feat(execution): add max coercion errors option to execution context (#4366)
  src/execution/__tests__/executor-test.ts
  src/execution/execute.ts
Due: eslint --max-warnings 0 --fix, prettier --write

Correct some syntax (#4369)
  website/pages/docs/object-types.mdx
  website/pages/docs/passing-arguments.mdx
Due: none

docs: Update getting-started.mdx (#4373)
  website/pages/docs/getting-started.mdx
  website/pages/docs/running-an-express-graphql-server.mdx
Due: none

Update docs for execution options (#4368)
  website/pages/api-v16/error.mdx
  website/pages/api-v16/execution.mdx
Due: none

Refactor every code-first example to leverage resolve (#4372)
  website/pages/docs/authentication-and-express-middleware.mdx
  website/pages/docs/basic-types.mdx
  website/pages/docs/constructing-types.mdx
  website/pages/docs/getting-started.mdx
  website/pages/docs/mutations-and-input-types.mdx
  website/pages/docs/object-types.mdx
  website/pages/docs/passing-arguments.mdx
  website/pages/docs/running-an-express-graphql-server.mdx
Due: none

Change to gqlConf 2025 (#4378)
  README.md
  assets/graphql-conf-2025.png
Due: prettier --write

docs: understanding graphql errors (#4382)
  website/pages/docs/_meta.ts
  website/pages/docs/graphql-errors.mdx
Due: eslint --max-warnings 0 --fix, prettier --write

Add missing parenthesis (#4379)
  README.md
Due: prettier --write

docs: anatomy of a resolver (#4381)
  website/pages/docs/_meta.ts
  website/pages/docs/resolver-anatomy.mdx
Due: eslint --max-warnings 0 --fix, prettier --write

Add the version support policy (#4390)
  README.md
Due: prettier --write

docs: cursor-based pagination guide (#4391)
  website/pages/docs/_meta.ts
  website/pages/docs/cursor-based-pagination.mdx
Due: eslint --max-warnings 0 --fix, prettier --write

docs: add page on abstract types (#4393)
  website/pages/docs/_meta.ts
  website/pages/docs/abstract-types.mdx
Due: eslint --max-warnings 0 --fix, prettier --write

docs: N+1 problem and DataLoader (#4383)
  cspell.yml
  website/pages/docs/_meta.ts
  website/pages/docs/n1-dataloader.mdx
Due: eslint --max-warnings 0 --fix, prettier --write

docs: add guides for custom scalars (#4380)
  cspell.yml
  website/pages/docs/_meta.ts
  website/pages/docs/advanced-custom-scalars.mdx
  website/pages/docs/custom-scalars.mdx
Due: eslint --max-warnings 0 --fix, prettier --write

docs: editorial for recent documentation updates (#4395)
  website/pages/docs/advanced-custom-scalars.mdx
  website/pages/docs/cursor-based-pagination.mdx
  website/pages/docs/custom-scalars.mdx
  website/pages/docs/graphql-errors.mdx
  website/pages/docs/n1-dataloader.mdx
  website/pages/docs/resolver-anatomy.mdx
Due: none

Update mutations-and-input-types.mdx (#4399)
  website/pages/docs/mutations-and-input-types.mdx
Due: none

Remove CJS from docs (#4400)
  website/pages/api-v16/error.mdx
  website/pages/api-v16/execution.mdx
  website/pages/api-v16/graphql-http.mdx
  website/pages/api-v16/graphql.mdx
  website/pages/api-v16/language.mdx
  website/pages/api-v16/type.mdx
  website/pages/api-v16/utilities.mdx
  website/pages/api-v16/validation.mdx
  website/pages/docs/abstract-types.mdx
  website/pages/docs/advanced-custom-scalars.mdx
  website/pages/docs/authentication-and-express-middleware.mdx
  website/pages/docs/basic-types.mdx
  website/pages/docs/constructing-types.mdx
  website/pages/docs/cursor-based-pagination.mdx
  website/pages/docs/custom-scalars.mdx
  website/pages/docs/getting-started.mdx
  website/pages/docs/going-to-production.mdx
  website/pages/docs/mutations-and-input-types.mdx
  website/pages/docs/object-types.mdx
  website/pages/docs/passing-arguments.mdx
  website/pages/docs/running-an-express-graphql-server.mdx
Due: none

Catch unhandled exception in abstract resolution (#4392)
  .c8rc.json
  src/execution/__tests__/union-interface-test.ts
  src/execution/execute.ts
Due: eslint --max-warnings 0 --fix, prettier --write

add guide on scaling your api
  website/pages/docs/_meta.ts
  website/pages/docs/scaling-graphql.mdx
Due: eslint --max-warnings 0 --fix, prettier --write

fix linting error
  cspell.yml
Due: none

fix cspell
  cspell.yml
Due: none

fix prettier error
  website/pages/docs/_meta.ts
Due: eslint --max-warnings 0 --fix, prettier --write

add install steps
  website/pages/docs/type-generation.mdx
Due: none

fix prettier error
  cspell.yml
Due: none
